html, body, h1, h2, h3, h4, h5, h6, p, button, fieldset, input, ul, li, td, th, button, img, picture, figure, div, section, span, blockquote, a, figcaption {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: inherit; }

button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent; }

input, select, textarea, fieldset {
  border: none;
  outline: none; }

img, picture, iframe {
  display: block; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: #393648; }

.main-container {
  display: flex;
  flex-direction: column; }

main {
  flex-grow: 1; }

.project-card {
  position: relative;
  height: calc(100vw / 1.43);
  border-radius: 2px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 600px) {
    .project-card {
      margin-bottom: 26px;
      height: 180px;
      width: 255px; } }
  @media screen and (min-width: 1024px) {
    .project-card {
      margin-bottom: 30px; } }
  @media screen and (min-width: 1280px) {
    .project-card {
      margin-bottom: 32px; } }
  @media screen and (min-width: 1920px) {
    .project-card {
      margin-bottom: 50px; } }

.project__photo {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 600px) {
    .project__photo {
      padding-top: 70%; } }
  @media screen and (min-width: 1024px) {
    .project__photo {
      padding-top: 66%; } }
.project__footer {
  z-index: 1;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.4%;
  padding-bottom: 3.2%;
  background-color: #ffffff; }
  @media screen and (min-width: 600px) {
    .project__footer {
      padding-top: 4.5%;
      padding-bottom: 5%; } }
  @media screen and (min-width: 1024px) {
    .project__footer {
      padding-top: 5.6%;
      padding-bottom: 6%; } }
  @media screen and (min-width: 1280px) {
    .project__footer {
      padding-top: 8%;
      padding-bottom: 7%; } }
  @media screen and (min-width: 1920px) {
    .project__footer {
      padding-top: 9%;
      padding-bottom: 10%; } }
.project__data {
  margin-right: 6%;
  color: #393648;
  line-height: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: right; }
  @media screen and (max-width: 300px) {
    .project__data {
      margin-right: 2.2%; } }
  @media screen and (min-width: 600px) {
    .project__data {
      font-size: 14px; } }
  @media screen and (min-width: 1920px) {
    .project__data {
      font-size: 16px; } }
.project__cost, .project__name {
  color: #393648;
  line-height: 100%;
  font-size: 16px;
  font-weight: 600; }
  @media screen and (min-width: 600px) {
    .project__cost, .project__name {
      font-size: 14px; } }
  @media screen and (min-width: 1920px) {
    .project__cost, .project__name {
      font-size: 16px; } }
.project__name {
  margin-left: 5.45%; }
  @media screen and (max-width: 300px) {
    .project__name {
      margin-left: 2.2%; } }

.photo-project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .photo-project-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-2 {
    background-image: url("../img/projects/2-ItaliaOM.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-3 {
    background-image: url("../img/projects/3-ITALIA-FF.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-4 {
    background-image: url("../img/projects/4-VILLA ALHENA.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-5 {
    background-image: url("../img/projects/5-VILLA PROPUS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-6 {
    background-image: url("../img/projects/6-ItaliaSF.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-7 {
    background-image: url("../img/projects/7-VILLA ANTARES.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .photo-project-8 {
    background-image: url("../img/projects/8-VILLA SCEPTRUM.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.blockquote, .publication__cut-in {
  width: 100%;
  padding-left: 6px; }
  .blockquote p, .publication__cut-in p {
    padding-left: 31px;
    position: relative;
    color: #CFA767;
    line-height: 2.07;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.16px;
    border-left-color: #CFA767;
    border-left-width: 10px;
    border-left-style: solid; }

.top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 200;
  height: 64px;
  width: 100%;
  background-color: #393648;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #929292;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #929292; }
  @media screen and (min-width: 1024px) {
    .top {
      padding-left: 17px; } }
  .top__firm {
    align-self: center;
    transition: all 0.2s ease;
    color: #C0C0C0;
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
    display: none; }
    @media screen and (min-width: 1024px) {
      .top__firm {
        display: block; } }
    .top__firm:hover {
      color: #E5CEA9;
      transition: all 0.2s ease; }

.top-contact {
  margin-left: 22px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }
  @media screen and (min-width: 1024px) {
    .top-contact {
      margin-left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0); } }
  .top-contact__tel, .top-contact__mail {
    color: #C0C0C0;
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease; }
    @media screen and (min-width: 280px) {
      .top-contact__tel, .top-contact__mail {
        margin-right: 22px; } }
    @media screen and (min-width: 600px) {
      .top-contact__tel, .top-contact__mail {
        margin-right: 26px; } }
    .top-contact__tel:hover, .top-contact__mail:hover {
      color: #E5CEA9;
      transition: all 0.2s ease; }
  .top-contact__mail {
    margin-right: 0; }
    @media screen and (max-width: 425px) {
      .top-contact__mail {
        margin-top: 5px; } }

.top-cabinet {
  order: -1;
  height: 100%;
  width: 64px;
  min-width: 64px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #929292;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .top-cabinet {
      order: initial;
      margin-left: auto;
      border-left-style: solid;
      border-left-width: 1px;
      border-left-color: #929292; } }
  .top-cabinet svg {
    fill: #ffffff;
    transform: rotate(45deg);
    transition: all 0.3s ease; }
  .top-cabinet:hover svg {
    fill: #E5CEA9;
    transform: rotate(0deg);
    transition: all 0.3s ease; }

.top-lang {
  position: relative;
  margin-left: -1px;
  width: 64px;
  height: 63px;
  overflow: hidden;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #929292;
  transition: all 0.2s ease; }
  .top-lang::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 12px 14px;
    border-color: transparent transparent #ffffff transparent;
    transition: all 0.2s ease; }
  .top-lang:hover::before {
    border-width: 0 30px 0 30px;
    transition: all 0.2s ease; }
  .top-lang__open {
    height: auto;
    min-height: 63px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #929292; }
    .top-lang__open::before {
      border-width: 0 30px 0 30px; }

.lang {
  display: block;
  height: 64px;
  width: 64px;
  color: #ffffff;
  line-height: 64px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease;
  background-color: #393648;
  text-align: center;
  text-transform: uppercase; }
  .lang:hover {
    color: #E5CEA9;
    transition: all 0.2s ease; }

#arrow-down {
  fill: #ffffff; }

.top-lang:hover #arrow-down {
  fill: #E5CEA9; }

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 8px;
  height: 64px; }
  @media screen and (min-width: 1024px) {
    .menu {
      justify-content: flex-start; } }

.logo {
  padding-right: 15px; }
  @media screen and (min-width: 1280px) {
    .logo {
      padding-right: 40px; } }

.menu-mobile {
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  transition: all 0.3s ease; }
  @media screen and (min-width: 1024px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile:hover .burger-icon__line {
    background-color: #CFA767;
    transition: all 0.3s ease; }
  .menu-mobile:hover .burger-icon__line4 {
    transform: rotate(30deg); }
  .menu-mobile:hover .burger-icon__line5 {
    transform: rotate(-30deg); }

.burger-icon {
  margin: auto; }
  .burger-icon__line {
    width: 28px;
    height: 5px;
    background-color: #393648;
    transition: all 0.3s ease;
    border-radius: 1px; }
  .burger-icon__line2 {
    margin-top: 4px; }
  .burger-icon__line3 {
    margin-top: 4px; }

.burger-icon-close {
  display: none;
  margin: auto;
  position: relative; }

.burger-icon__line4 {
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
.burger-icon__line5 {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(57, 54, 72, 0.8);
  z-index: 500; }
  .overlay-mobileOpen {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
  @media screen and (min-width: 1024px) {
    .overlay {
      opacity: 0;
      visibility: hidden;
      pointer-events: none; } }

.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  transition-duration: 0.2s;
  transform: translateX(100%);
  z-index: 501; }
  .nav__back {
    position: absolute;
    right: 100%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 0;
    visibility: hidden; }
    .nav__back:before, .nav__back:after {
      content: "";
      display: block;
      height: 2px;
      border-radius: 1px;
      width: 20px;
      top: 24px;
      left: 14px;
      position: absolute;
      background-color: #393648;
      transform-origin: right center; }
    .nav__back:before {
      transform: rotate(40deg); }
    .nav__back:after {
      transform: rotate(-40deg); }
  .nav-mobileOpen {
    transform: none; }
    .nav-mobileOpen .nav__back {
      opacity: 1;
      visibility: visible; }
  .nav__container {
    height: 100%;
    overflow: auto; }
  @media screen and (min-width: 425px) {
    .nav {
      width: initial; } }
  @media screen and (min-width: 1024px) {
    .nav {
      transform: none;
      position: initial;
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #ffffff;
      z-index: auto; } }
  .nav__item {
    position: relative;
    display: block;
    width: initial;
    color: #393648;
    line-height: 64px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .nav__item {
        display: inline-block;
        color: #393648;
        line-height: 64px;
        font-size: 11px;
        font-weight: 400; } }
    @media screen and (min-width: 1280px) {
      .nav__item {
        color: #393648;
        line-height: 64px;
        font-size: 13px;
        font-weight: 400; } }
    .nav__item::before, .nav__item::after {
      content: attr(page);
      text-decoration: inherit; }
    .nav__item::before {
      display: block;
      font-weight: 600;
      visibility: hidden;
      line-height: 58px;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #393648;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: transparent;
      padding-left: 16px;
      padding-right: 16px; }
      @media screen and (min-width: 1024px) {
        .nav__item::before {
          padding-left: 7px;
          padding-right: 7px; } }
      @media screen and (min-width: 1280px) {
        .nav__item::before {
          padding-left: 9px;
          padding-right: 9px; } }
    .nav__item::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
    .nav__item:hover::before {
      visibility: visible; }
    .nav__item:hover::after {
      display: none;
      transition: all 1s ease; }

.pureText p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }
.pureText > p:first-of-type {
  font-weight: 600; }
.pureText h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .pureText h3 {
      text-align: left;
      margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .pureText h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 2.07;
      text-align: center;
      margin: auto;
      color: #393648;
      margin-top: 30px; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .pureText h3 {
      text-align: left;
      margin-left: 0; } }

.pureText blockquote {
  width: 100%;
  padding-left: 6px; }
  .pureText blockquote p {
    padding-left: 31px;
    position: relative;
    color: #CFA767;
    line-height: 2.07;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.16px;
    border-left-color: #CFA767;
    border-left-width: 10px;
    border-left-style: solid; }
.pureText figure {
  width: 100%;
  margin-top: 30px; }
  .pureText figure img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
  .pureText figure figcaption {
    color: #393648;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center; }
.pureText__goldenP {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  color: #E5CEA9; }
  .pureText__goldenP p {
    color: #E5CEA9; }
    .pureText__goldenP p:last-child {
      margin-bottom: 0; }
.pureText-gold {
  color: #E5CEA9; }
  .pureText-gold p {
    color: #E5CEA9; }
.pureText-darkBg {
  color: #fff; }
  .pureText-darkBg p {
    color: #fff; }
.pureText-noFirst > p:first-of-type {
  font-weight: normal; }

@media screen and (min-width: 850px) {
  .have-you {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; } }

.have-you-project {
  height: 99.5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 850px) {
    .have-you-project {
      height: 49.75vw;
      padding-left: 46px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; } }
  @media screen and (min-width: 1280px) {
    .have-you-project {
      padding-left: 94px; } }
  @media screen and (min-width: 1920px) {
    .have-you-project {
      padding-left: 134px; } }
  .have-you-project__yes {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .have-you-project__not {
    position: relative;
    background-image: url("../img/main/have-not-project.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 850px) {
    .promo {
      align-items: flex-start; } }

.title-promo {
  color: #393648;
  line-height: 1rem;
  font-size: 21px;
  font-weight: 600;
  line-height: 0.82;
  margin-bottom: 26px; }
  @media screen and (min-width: 1024px) {
    .title-promo {
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 1em; } }
  .title-promo--2 {
    color: #fff; }

.btn-1 {
  color: rgba(255, 255, 255, 0.87);
  background-color: #393648; }

.btn-2 {
  color: #393648;
  background-color: #E5CEA9; }

.promo .btn-1section {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0; }
  .promo .btn-1section:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .promo .btn-1section {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 850px) {
    .promo .btn-1section {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      width: 232px; } }

.sticker {
  position: absolute;
  right: 4.9vw;
  bottom: 3.7vw;
  width: 52px;
  height: 52px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .sticker {
      width: 95px;
      height: 95px; } }
  .sticker__text {
    color: #CFA767;
    font-weight: 600;
    font-size: 0.7142857143rem;
    font-style: italic;
    margin: auto;
    padding-bottom: 2px;
    line-height: 1.2; }
    @media screen and (min-width: 600px) {
      .sticker__text {
        font-size: 1.1428571429rem;
        padding-bottom: 2px;
        line-height: 1.375;
        letter-spacing: 1%; } }

.main-projects {
  background-color: #393648;
  padding: 40px 12px 60px; }
  @media screen and (min-width: 600px) {
    .main-projects {
      padding: 42px 26px 64px; } }
  @media screen and (min-width: 1024px) {
    .main-projects {
      padding: 68px 46px 70px; } }
  @media screen and (min-width: 1280px) {
    .main-projects {
      padding: 68px 80px 83px; } }
  @media screen and (min-width: 1920px) {
    .main-projects {
      padding: 68px 87px 83px; } }

.main-projects .title-section {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #E5CEA9;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 600px) {
    .main-projects .title-section {
      text-align: left;
      font-size: 2.5714285714rem;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .main-projects .title-section {
      margin-bottom: 63px; } }

.main-projects-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  @media screen and (min-width: 1024px) {
    .main-projects-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 932px; } }
  @media screen and (min-width: 1280px) {
    .main-projects-container {
      width: 1120px; } }
  @media screen and (min-width: 1920px) {
    .main-projects-container {
      width: 1600px; } }

@media screen and (min-width: 600px) {
  .main-projects .project-card {
    height: calc(100vw / 1.43);
    width: 100%;
    margin-bottom: 26px; } }
@media screen and (min-width: 1024px) {
  .main-projects .project-card {
    margin-bottom: 30px;
    width: 450px;
    height: 316px; } }
@media screen and (min-width: 1280px) {
  .main-projects .project-card {
    margin-bottom: 32px;
    width: 256px;
    height: 180px; } }
@media screen and (min-width: 1920px) {
  .main-projects .project-card {
    margin-bottom: 50px; } }
.main-projects .project-card:last-child {
  margin-bottom: 0; }

.main-projects .btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 296px;
  margin-left: auto;
  margin-right: auto; }
  .main-projects .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .main-projects .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 600px) {
    .main-projects .btn {
      margin-left: auto;
      margin-right: auto;
      width: 232px; } }
  @media screen and (min-width: 1024px) {
    .main-projects .btn {
      letter-spacing: 0.5px;
      margin-left: auto;
      margin-right: auto; } }

.main-low-energy {
  width: 100%;
  height: 100vh;
  background-image: url("../img/low-energy/low-energy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25vh 0; }
  @media screen and (min-width: 600px) {
    .main-low-energy {
      padding: 30vh 0; } }
  @media screen and (min-width: 1024px) {
    .main-low-energy {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30vh 46px; } }
  @media screen and (min-width: 1280px) {
    .main-low-energy {
      padding: 30vh 134px; } }
  .main-low-energy__promo {
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 1024px) {
      .main-low-energy__promo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0; } }

.low-title {
  color: #393648;
  line-height: 1.2;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 26px;
  text-align: center;
  max-width: 292px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 600px) {
    .low-title {
      color: #393648;
      line-height: normal;
      font-size: 24px;
      font-weight: 600;
      min-width: 496px;
      margin-bottom: 30p; } }
  @media screen and (min-width: 1024px) {
    .low-title {
      max-width: 715px;
      text-align: left;
      margin-right: 0;
      margin-left: 0;
      color: #393648;
      line-height: 2;
      font-size: 36px;
      font-weight: 600; } }

.btn-low-energy-section {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }
  .btn-low-energy-section:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .btn-low-energy-section {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 1024px) {
    .btn-low-energy-section {
      width: 277px;
      margin: 0; } }

.main-testimonials {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 12px 60px; }
  @media screen and (min-width: 600px) {
    .main-testimonials {
      padding: 96px 36px 60px; } }
  @media screen and (min-width: 1024px) {
    .main-testimonials {
      padding: 96px 78px 60px; } }
  @media screen and (min-width: 1280px) {
    .main-testimonials {
      padding: 147px 204px 134px; } }
  .main-testimonials .title-section {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 600px) {
      .main-testimonials .title-section {
        text-align: left;
        font-size: 2.5714285714rem;
        text-align: center; } }
    @media screen and (min-width: 1024px) {
      .main-testimonials .title-section {
        margin-bottom: 63px; } }

.btn--read-all {
  width: 232px;
  margin-top: 36px; }

.read-all {
  color: #CFA767;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-decoration: underline;
  display: block;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
  top: -1em; }
  .read-all:hover {
    color: #E5CEA9;
    transition: all 0.2s ease; }
  .read-all:active {
    color: #CFA767;
    transition: all 0.2s ease;
    text-decoration: none; }

.main-some-text {
  background-color: #393648;
  padding: 97px 30px 90px; }
  @media screen and (min-width: 600px) {
    .main-some-text {
      padding: 157px 26px 163px; } }
  @media screen and (min-width: 1024px) {
    .main-some-text {
      padding: 186px 90px 218px; } }
  @media screen and (min-width: 1280px) {
    .main-some-text {
      padding: 186px 215px 218px; } }
  .main-some-text__title {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 2.4285714286rem;
    max-width: 846px; }

.main-some-text p {
  margin: auto;
  max-width: 846px;
  color: #ffffff;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400; }

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative; }

.slider-arrow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center; }
  .slider-arrow-container--left {
    padding-right: 7px;
    left: -32px; }
    @media screen and (min-width: 600px) {
      .slider-arrow-container--left {
        left: -46px; } }
    @media screen and (min-width: 1024px) {
      .slider-arrow-container--left {
        left: -65px; } }
  .slider-arrow-container--right {
    right: -32px; }
    @media screen and (min-width: 600px) {
      .slider-arrow-container--right {
        right: -46px; } }
    @media screen and (min-width: 1024px) {
      .slider-arrow-container--right {
        right: -65px; } }
  .slider-arrow-container__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    border-color: #F2F2F2;
    border-width: 5px;
    border-style: solid;
    cursor: pointer; }
    .slider-arrow-container__box .arrleft {
      fill: #E5CEA9; }
    .slider-arrow-container__box:hover .arrleft {
      fill: #393648;
      transition: all 0.3s ease; }
    .slider-arrow-container__box--left {
      padding-right: 5px; }
    .slider-arrow-container__box--right {
      padding-left: 5px; }
      .slider-arrow-container__box--right svg {
        transform: rotate(180deg); }

.slider-content {
  height: 150px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden; }
  .slider-content .slick-list, .slider-content .slick-track {
    height: 100%; }
  @media screen and (min-width: 600px) {
    .slider-content {
      margin-right: -21px; } }
  @media screen and (min-width: 1024px) {
    .slider-content {
      margin-right: -41px; } }

.slider__pict {
  height: 100%;
  padding-right: 10px; }
  .slider__pict:last-child {
    padding-right: 0; }

.footer {
  position: relative;
  background-color: #393648;
  padding: 18px 26px 20px;
  border-top: 1px solid #929292;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .footer {
      flex-direction: row; } }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 18px 46px 20px; } }

.copy-right {
  text-align: center;
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  margin: 0;
  color: #ffffff;
  order: 2;
  margin-top: 18px; }
  @media screen and (min-width: 600px) {
    .copy-right {
      margin-top: 0;
      text-align: left;
      order: 0;
      margin-right: auto; } }

@media screen and (min-width: 600px) {
  .fb-block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); } }
@media screen and (min-width: 600px) {
  .fb-block__container {
    display: flex; } }
.fb-block__text {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  margin: 0;
  color: #ffffff; }
.fb-block__link {
  margin-top: 6px; }
  @media screen and (min-width: 600px) {
    .fb-block__link {
      margin: 0;
      margin-left: 16px; } }

.technology-person {
  background-color: #393648;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    .technology-person {
      height: 100%;
      padding-top: 220px;
      justify-content: flex-start; } }
  @media screen and (min-width: 1280px) {
    .technology-person {
      padding-top: 0;
      justify-content: center; } }
  .technology-person__photo {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .technology-person__photo {
        width: 252px;
        height: 252px;
        margin-bottom: 28px; } }
    @media screen and (min-width: 1024px) {
      .technology-person__photo {
        width: 210px;
        height: 210px;
        margin-bottom: 22px; } }
    @media screen and (min-width: 1280px) {
      .technology-person__photo {
        width: 312px;
        height: 312px;
        margin-bottom: 26px; } }
    @media screen and (min-width: 1920px) {
      .technology-person__photo {
        width: 490px;
        height: 490px;
        margin-bottom: 30px; } }
  .technology-person__name {
    text-align: center;
    max-width: 90%;
    color: #ffffff;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600; }

.technology-article .btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .technology-article .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .technology-article .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 600px) {
    .technology-article .btn {
      max-width: 232px; } }

.go-to-contact-us {
  padding-top: 60px;
  padding-bottom: 50px; }

.go-to-all-projects .btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }
  .go-to-all-projects .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .go-to-all-projects .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 600px) {
    .go-to-all-projects .btn {
      max-width: 232px; } }

.go-to-all-projects__content {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 18%; }

.btn-1 {
  color: rgba(255, 255, 255, 0.87);
  background-color: #393648; }

.btn-2 {
  color: #393648;
  background-color: #E5CEA9; }

.technology-article {
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .technology-article {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .technology-article {
      padding: 50px 48px 70px; } }

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      font-weight: 600;
      font-size: 14px;
      line-height: 2.07;
      text-align: center;
      margin: auto;
      color: #393648;
      margin-top: 30px; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.technology-content p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

@media screen and (min-width: 1024px) {
  .technology-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .technology-person {
    width: 50%;
    height: initial;
    align-self: stretch;
    justify-content: flex-start;
    padding-top: 60px; } }

@media screen and (min-width: 1024px) {
  .technology-article {
    width: 50%;
    order: -1; } }

@media screen and (min-width: 1024px) {
  .go-to-all-projects {
    width: 100%;
    height: calc(50vw * 0.7); } }

@media screen and (min-width: 1024px) {
  .go-to-all-projects--2 {
    display: none; } }

.go-to-all-projects--1 {
  display: none;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .go-to-all-projects--1 {
      display: block;
      width: 100%;
      height: initial; } }

.go-to-all-projects__content {
  height: initial;
  padding-top: 60%; }
  @media screen and (min-width: 1024px) {
    .go-to-all-projects__content {
      margin-top: 108px; } }

.go-to-all-projects--1 .btn-2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20%; }

.low-energy-article1 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .low-energy-article1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article1 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article1 {
      width: 50%; } }

.low-energy-article1 {
  padding-bottom: 70px; }

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.blockquote, .publication__cut-in {
  width: 100%;
  padding-left: 6px; }
  .blockquote p, .publication__cut-in p {
    padding-left: 31px;
    position: relative;
    color: #CFA767;
    line-height: 2.07;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.16px;
    border-left-color: #CFA767;
    border-left-width: 10px;
    border-left-style: solid; }

.low-energy-article2 {
  position: relative;
  width: 50%; }
  .low-energy-article2__fon {
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
    height: 100%;
    display: none; }
    @media screen and (min-width: 1024px) {
      .low-energy-article2__fon {
        display: block; } }

.low-energy-article3 {
  background-color: #393648;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .low-energy-article3 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article3 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article3 {
      width: 50%; } }

.low-energy-article3 {
  padding-bottom: 70px; }

.low-energy-article3 .title-paragraph, .low-energy-article3 .low-energy-content, .low-energy-article3 .low-energy-table-block {
  color: #E5CEA9; }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #E5CEA9;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      font-weight: 600;
      font-size: 14px;
      line-height: 2.07;
      text-align: center;
      margin: auto;
      color: #E5CEA9;
      margin-top: 30px; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.low-energy-table__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  text-align: left;
  margin: 0;
  padding-bottom: 36px; }
  @media screen and (min-width: 600px) {
    .low-energy-table__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 2.1px;
      text-transform: uppercase;
      text-align: center;
      margin: auto;
      text-align: center;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 20px; } }

.low-energy-table {
  max-width: 548px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid #E5CEA9;
  padding: 4px 0 4px; }

.low-energy-table .col {
  color: #E5CEA9;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 0 4px 8px; }

.low-energy-table .col + .col {
  min-width: 84px;
  text-align: center;
  padding: 4px 0 4px;
  vertical-align: bottom; }

.low-energy-table .row--top {
  padding-top: 23px; }

.low-energy-table .row--bottom {
  padding-bottom: 22px; }

.low-energy-article4 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .low-energy-article4 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article4 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .low-energy-article4 {
      width: 50%; } }

.low-energy-article4 {
  padding-bottom: 70px; }

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      font-weight: 600;
      font-size: 14px;
      line-height: 2.07;
      text-align: center;
      margin: auto;
      color: #393648;
      margin-top: 30px; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.low-energy-article4 p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.low-energy-article4 .go-to-all-contact {
  margin-top: 60px;
  margin-bottom: 30px; }

.go-to-all-contact .btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: auto;
  width: initial;
  height: initial;
  width: 100%; }
  .go-to-all-contact .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .go-to-all-contact .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .go-to-all-contact .btn {
      max-width: 232px; } }

.go-to-all-projects {
  height: initial; }

.low-energy-content .btn, .go-to-all-projects .btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: auto; }
  .low-energy-content .btn:hover, .go-to-all-projects .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .low-energy-content .btn, .go-to-all-projects .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .low-energy-content .btn, .go-to-all-projects .btn {
      max-width: 232px; } }

.low-energy-article4 .go-to-all-contact .btn-1 {
  color: rgba(255, 255, 255, 0.87);
  background-color: #393648; }

.btn-2 {
  color: #393648;
  background-color: #E5CEA9; }

.low-energy-content {
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 1024px) {
  .low-energy-content-1 {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (min-width: 1024px) {
  .low-energy-content-2 {
    display: flex;
    flex-wrap: wrap; } }

.main-container {
  display: flex;
  flex-direction: column; }

.transport-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .transport-content {
      flex-wrap: wrap;
      flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .transport-content-1 {
    width: 50%;
    background-color: #F2F2F2; } }

.transport-content .footer {
  width: 100%; }

.transport-article2__wrapper {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .transport-article2__wrapper {
      width: 50%; } }
.transport-article2__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.transport-article1 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .transport-article1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .transport-article1 {
      padding: 50px 48px 70px; } }

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      font-weight: 600;
      font-size: 14px;
      line-height: 2.07;
      text-align: center;
      margin: auto;
      color: #393648;
      margin-top: 30px; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.transport-article1__content p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.transport-article1 .go-to-all-contact {
  margin-top: 60px; }

.go-to-all-contact .btn {
  background-color: #E5CEA9;
  color: #393648;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: initial;
  height: initial;
  width: 100%; }
  .go-to-all-contact .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .go-to-all-contact .btn {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .go-to-all-contact .btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .go-to-all-contact .btn {
      max-width: 232px; } }

.montage {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .montage {
      flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .montage-content-1, .montage-content-2 {
    width: 50%; } }

.montage-article {
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .montage-article {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .montage-article {
      padding: 50px 48px 70px; } }

.montage-content-1, .montage-content-2 {
  background-color: #F2F2F2; }

.montage-content-1 .go-to-all-contact, .montage-content-2 .go-to-all-contact {
  margin-top: 60px; }

.btn-1 {
  color: rgba(255, 255, 255, 0.87);
  background-color: #393648; }

.montage-content p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.montage-video {
  min-height: 100%;
  padding: 37px 12px 50px;
  background-color: #393648; }
  @media screen and (min-width: 600px) {
    .montage-video {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .montage-video {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .montage-video {
      padding-top: 240px; } }
  .montage-video__container {
    margin-left: auto;
    margin-right: auto; }
  .montage-video__video {
    position: relative;
    padding-top: 56.25%; }
    .montage-video__video iframe {
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .montage-video__text {
    color: #ffffff;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.86em; }

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  @media screen and (min-width: 1024px) {
    .about-us-content {
      flex-direction: row; } }

.about-us-person {
  background-color: #393648;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }
  @media screen and (min-width: 1024px) {
    .about-us-person {
      width: 50%;
      order: 1;
      padding-top: 220px;
      justify-content: flex-start; } }
  @media screen and (min-width: 1280px) {
    .about-us-person {
      padding-top: 0;
      justify-content: center; } }
  .about-us-person__photo {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 17px;
    background-image: url("../img/about-us/Maria_Zalite-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .about-us-person__photo {
        width: 252px;
        height: 252px;
        margin-bottom: 28px; } }
    @media screen and (min-width: 1024px) {
      .about-us-person__photo {
        width: 210px;
        height: 210px;
        margin-bottom: 22px; } }
    @media screen and (min-width: 1280px) {
      .about-us-person__photo {
        background-image: url("../img/about-us/Maria_Zalite-2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 312px;
        height: 312px;
        margin-bottom: 26px; } }
    @media screen and (min-width: 1920px) {
      .about-us-person__photo {
        width: 490px;
        height: 490px;
        margin-bottom: 30px; } }
  .about-us-person__name {
    text-align: center;
    max-width: 90%;
    color: #ffffff;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600; }

.about-us-article {
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .about-us-article {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .about-us-article {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .about-us-article {
      width: 50%; } }
  .about-us-article__content p {
    color: #393648;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px; }

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }

.about-us-article .btn {
  margin-top: 60px;
  color: #393648;
  background-color: #E5CEA9; }

.blockquote, .publication__cut-in {
  width: 100%;
  padding-left: 6px; }
  .blockquote p, .publication__cut-in p {
    padding-left: 31px;
    position: relative;
    color: #CFA767;
    line-height: 2.07;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.16px;
    border-left-color: #CFA767;
    border-left-width: 10px;
    border-left-style: solid; }

.projects-content {
  padding: 37px 12px 50px;
  background-color: #393648; }
  @media screen and (min-width: 600px) {
    .projects-content {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .projects-content {
      padding: 50px 48px 70px; } }
  .projects-content__page-title {
    padding-bottom: 36px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #E5CEA9;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
    @media screen and (min-width: 600px) {
      .projects-content__page-title {
        padding-bottom: 68px; } }
    @media screen and (min-width: 1024px) {
      .projects-content__page-title {
        padding-bottom: 63px; } }
    @media screen and (min-width: 1920px) {
      .projects-content__page-title {
        padding-bottom: 54px; } }
    @media screen and (min-width: 600px) {
      .projects-content__page-title {
        text-align: center; } }
    @media screen and (min-width: 600px) {
      .projects-content__page-title {
        text-align: left;
        font-size: 2.5714285714rem; } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .projects-content__page-title {
      text-align: center; } }

.projects-article__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 2.4285714286rem;
  max-width: 846px; }

.projects-article-content {
  margin: auto;
  max-width: 846px; }
  .projects-article-content p {
    color: #ffffff;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px; }

.projects-cards-list-container {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 600px) {
    .projects-cards-list-container {
      margin-bottom: -26px;
      width: 542px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .projects-cards-list-container {
      margin-bottom: -30px;
      width: 830px; } }
  @media screen and (min-width: 1280px) {
    .projects-cards-list-container {
      width: 1120px;
      margin-bottom: -32px; } }
  @media screen and (min-width: 1920px) {
    .projects-cards-list-container {
      width: 1600px; } }
  @media screen and (min-width: 1920px) {
    .projects-cards-list-container {
      margin-bottom: -50px; } }

@media screen and (min-width: 600px) {
  .project-card {
    margin-bottom: 26px; } }
@media screen and (min-width: 1024px) {
  .project-card {
    margin-bottom: 30px; } }
@media screen and (min-width: 1280px) {
  .project-card {
    margin-bottom: 32px; } }
@media screen and (min-width: 1920px) {
  .project-card {
    margin-bottom: 50px; } }
.project-card:last-child {
  margin-bottom: 0; }

.projects-buttons {
  background-color: #393648;
  padding-top: 50px;
  padding-bottom: 85px; }
  .projects-buttons__text1, .projects-buttons__text2 {
    color: #ffffff;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .projects-buttons__text1 {
    margin-bottom: 43px; }
  .projects-buttons__text2 {
    margin-bottom: 14px; }

.projects-buttons__to-contact {
  background-color: #E5CEA9;
  color: #393648;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  margin-bottom: 14px; }
  .projects-buttons__to-contact:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .projects-buttons__to-contact {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .projects-buttons__to-contact {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
.projects-buttons__to-form {
  background-color: #E5CEA9;
  color: #393648;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto; }
  .projects-buttons__to-form:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .projects-buttons__to-form {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .projects-buttons__to-form {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }

.articles-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .articles-content {
      display: flex;
      flex-direction: row; } }
  .articles-content__page-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #393648;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 42px; }
    @media screen and (min-width: 600px) {
      .articles-content__page-title {
        text-align: left;
        font-size: 2.5714285714rem; } }

.articles1 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .articles1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .articles1 {
      padding: 50px 48px 70px; } }

.articles2 {
  background-color: #393648;
  padding: 37px 12px 50px;
  color: #E5CEA9; }
  @media screen and (min-width: 600px) {
    .articles2 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .articles2 {
      padding: 50px 48px 70px; } }
  .articles2__section-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #E5CEA9;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 44px; }
    @media screen and (min-width: 600px) {
      .articles2__section-title {
        text-align: left; } }
  .articles2 .article__text, .articles2 .article__title {
    color: #E5CEA9; }

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 78px; }

.pg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px; }

@media screen and (min-width: 600px) {
  .pg-arrow {
    display: none; } }

.arrleft {
  fill: #E5CEA9;
  transition: all 0.3s ease; }
  .arrleft:hover {
    fill: #393648;
    transition: all 0.3s ease; }

.pg-arrow-r svg {
  transform: rotate(180deg); }

.pg-btn {
  background-color: #E5CEA9;
  color: #393648;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  width: 96px;
  padding-left: 0;
  padding-right: 0;
  font-size: 13px;
  display: none; }
  .pg-btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .pg-btn {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .pg-btn {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .pg-btn {
      width: 96px; } }
  @media screen and (min-width: 600px) {
    .pg-btn {
      display: block; } }
  @media screen and (min-width: 1280px) {
    .pg-btn {
      width: 130px; } }
  @media screen and (min-width: 1920px) {
    .pg-btn {
      width: 232px; } }
  .pg-btn--active, .pg-btn:hover {
    background-color: #393648;
    color: rgba(255, 255, 255, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
    border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 13px; }
    .pg-btn--active:hover, .pg-btn:hover:hover {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
      transition: all 0.3s ease; }
    @media screen and (min-width: 450px) {
      .pg-btn--active, .pg-btn:hover {
        width: 242px; } }
    @media screen and (min-width: 850px) {
      .pg-btn--active, .pg-btn:hover {
        padding-left: 0;
        padding-right: 0;
        width: 232px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px; } }
    @media screen and (min-width: 450px) {
      .pg-btn--active, .pg-btn:hover {
        width: 96px; } }
    @media screen and (min-width: 1280px) {
      .pg-btn--active, .pg-btn:hover {
        width: 130px; } }
    @media screen and (min-width: 1920px) {
      .pg-btn--active, .pg-btn:hover {
        width: 232px; } }

.pg {
  display: block;
  width: 30px;
  height: 30px;
  padding-top: 2px;
  color: #393648;
  font-weight: 700;
  font-size: 1.29rem;
  text-align: center;
  transition: all 0.3s ease; }
  .pg:hover:not(.pg--active) {
    background-color: #E5CEA9;
    transition: all 0.3s ease; }
  .pg--active {
    color: #E5CEA9;
    cursor: default; }

.article-card {
  margin-bottom: 40px; }
  .article-card:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 1920px) {
    .article-card {
      display: flex; } }

.article__container-photo {
  order: 2;
  margin-left: auto;
  margin-bottom: 15px; }
.article__photo {
  width: 100%; }
  @media screen and (min-width: 1280px) {
    .article__photo {
      width: 242px; } }
  @media screen and (min-width: 1920px) {
    .article__photo {
      width: 270px; } }
@media screen and (min-width: 1280px) {
  .article__content {
    padding-right: 35px; } }
@media screen and (min-width: 1920px) {
  .article__content {
    padding-right: 50px; } }
.article__date {
  display: block;
  color: #CFA767;
  line-height: 1.33;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.01em;
  margin-bottom: 15px; }
.article__title {
  color: #393648;
  line-height: 1.38;
  font-size: 24px;
  font-weight: 600;
  text-align: left; }
.article__text {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.article1 {
  background-color: #F2F2F2;
  flex-shrink: 0;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 1024px) {
    .article1 {
      width: 66.6666667%; } }
  @media screen and (min-width: 600px) {
    .article1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .article1 {
      padding: 50px 48px 70px; } }

.publication__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #393648;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .publication__title {
      text-align: left;
      font-size: 2.5714285714rem; } }
.publication__photo1 {
  width: 100%;
  margin-bottom: 15px; }
.publication__date {
  display: block;
  color: #CFA767;
  line-height: 1.33;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.01em;
  margin-bottom: 15px; }
.publication__introduction {
  color: #393648;
  line-height: 2.06;
  font-size: 16px;
  font-weight: 700; }
.publication__text {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.illustration {
  margin-top: 30px; }
  .illustration__image {
    width: 100%; }
  .illustration__signature {
    margin-top: 30px;
    color: #393648;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center; }

.article-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .article-content {
      display: flex;
      flex-direction: row; } }
  .article-content__page-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #393648;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 42px; }
    @media screen and (min-width: 600px) {
      .article-content__page-title {
        text-align: left;
        font-size: 2.5714285714rem; } }

.articles2 {
  background-color: #393648;
  padding: 37px 12px 50px;
  color: #E5CEA9; }
  @media screen and (min-width: 600px) {
    .articles2 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .articles2 {
      padding: 50px 48px 70px; } }
  .articles2__section-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #E5CEA9;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 44px; }
    @media screen and (min-width: 600px) {
      .articles2__section-title {
        text-align: left; } }

.publication p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; }

.blockquote, .publication__cut-in {
  width: 100%;
  padding-left: 6px; }
  .blockquote p, .publication__cut-in p {
    padding-left: 31px;
    position: relative;
    color: #CFA767;
    line-height: 2.07;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.16px;
    border-left-color: #CFA767;
    border-left-width: 10px;
    border-left-style: solid; }

.article p, .article__title {
  color: #E5CEA9; }

.publication__introduction {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  font-weight: 700; }

.testimonials-container {
  position: relative;
  background-color: #ffffff;
  padding: 34px 26px 215px;
  padding: 56px 21px 38px; }
  @media screen and (min-width: 1024px) {
    .testimonials-container {
      padding: 48px 41px;
      margin-left: auto;
      margin-right: auto; } }

.testimonials__header {
  margin-bottom: 24px; }
.testimonials__client {
  position: absolute;
  right: 9px;
  top: -44px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .testimonials__client {
      right: 30px; } }
  @media screen and (min-width: 1024px) {
    .testimonials__client {
      right: 55px; } }
.testimonials__client-date {
  color: #E5CEA9;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  margin-right: 7px;
  margin-bottom: 17px; }
.testimonials__client-photo {
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border-color: #F2F2F2;
  border-width: 5px;
  border-style: solid; }

.testimonials__title {
  color: #393648;
  line-height: 1.35;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px; }
.testimonials__place {
  color: #CFA767;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px; }
  .testimonials__place::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon/place.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 20px;
    margin-right: 13px; }

.testimonials__text {
  color: #393648;
  line-height: 1.9;
  font-size: 14px;
  font-weight: 400;
  height: 19em;
  overflow-y: hidden;
  text-overflow: ellipsis; }
  .testimonials__text p + p {
    padding-bottom: 1.8rem; }
    .testimonials__text p + p:last-child {
      padding-bottom: 0; }

.read-all {
  color: #CFA767;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-decoration: underline;
  display: block;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
  top: -1em; }
  .read-all:hover {
    color: #E5CEA9;
    transition: all 0.2s ease; }
  .read-all:active {
    color: #CFA767;
    transition: all 0.2s ease;
    text-decoration: none; }

.main-testimonials .btn-testimonials-section {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 60px; }
  .main-testimonials .btn-testimonials-section:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 850px) {
    .main-testimonials .btn-testimonials-section {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }

.main-container {
  display: flex;
  flex-direction: column; }

.testimonials-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  @media screen and (min-width: 1024px) {
    .testimonials-content {
      flex-wrap: wrap;
      flex-direction: row; } }
  .testimonials-content__page-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #393648;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 42px; }
    @media screen and (min-width: 600px) {
      .testimonials-content__page-title {
        text-align: left;
        font-size: 2.5714285714rem; } }

.testimonials-content-1 {
  height: 100%;
  background-color: #F2F2F2;
  padding: 37px 12px 50px; }
  @media screen and (min-width: 600px) {
    .testimonials-content-1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .testimonials-content-1 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .testimonials-content-1 {
      width: 50%;
      background-color: #F2F2F2; } }
  .testimonials-content-1 .testimonials-container {
    width: initial; }

.testimonials-content .footer {
  width: 100%; }

.testimonials-content {
  height: 100%; }
  .testimonials-content .pagination {
    margin-top: 50px; }

.testimonials-article2__wrapper {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .testimonials-article2__wrapper {
      width: 50%;
      padding-top: 0; } }
.testimonials-article2__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.customer-projects1 {
  background-color: #393648;
  color: #fff;
  padding: 37px 12px 50px;
  padding-bottom: 42px; }
  @media screen and (min-width: 600px) {
    .customer-projects1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .customer-projects1 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .customer-projects1 {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    .customer-projects1 {
      width: 33.3333333333%; } }
  @media screen and (min-width: 1920px) {
    .customer-projects1 {
      width: 25%; } }

page-title_customer-projects {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 42px; }
  @media screen and (min-width: 600px) {
    page-title_customer-projects {
      text-align: left;
      font-size: 2.5714285714rem; } }

.title-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  margin: auto;
  color: #393648;
  margin-top: 30px;
  text-align: left; }
  @media screen and (min-width: 600px) {
    .title-paragraph {
      text-align: left;
      margin-left: 0; } }
  .title-paragraph .upper {
    text-transform: uppercase; }

.customer-projects1 p, .customer-projects1 .title-paragraph {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  color: #ffffff; }

.customer-projects1 .text-paragraph--2 {
  color: #E5CEA9; }

.customer-projects2 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px;
  padding-bottom: 68px; }
  @media screen and (min-width: 600px) {
    .customer-projects2 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .customer-projects2 {
      padding: 50px 48px 70px; } }
  @media screen and (min-width: 1024px) {
    .customer-projects2 {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    .customer-projects2 {
      width: 33.3333333333%; } }
  @media screen and (min-width: 1920px) {
    .customer-projects2 {
      width: 25%; } }

.form__text {
  color: #393648;
  line-height: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 34px; }
.form__title {
  color: #393648;
  line-height: 100%;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 14px; }
.form__field, .textarea {
  background-color: #ffffff;
  color: #000000;
  line-height: 59px;
  font-size: 18px;
  font-weight: 300;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  height: 62px;
  width: 100%;
  margin-bottom: 18px;
  padding-left: 24px;
  display: block; }

input::placeholder, textarea::placeholder {
  color: #000000;
  line-height: 59px;
  font-size: 18px;
  font-weight: 300; }

select {
  cursor: pointer; }

.select-country-container {
  display: block;
  position: relative; }
  .select-country-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    pointer-events: none;
    background-image: url(../img/icon/select-icon.svg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: right 26px top 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;
    border-left-color: transparent;
    transition: all 0.3s ease; }
  .select-country-container:hover::before {
    background-image: url(../img/icon/select-icon-hover.svg);
    transition: all 0.3s ease; }

.upload-file-container {
  position: relative;
  margin-bottom: 18px;
  background-image: url(../img/icon/upload-icon.svg);
  background-position: right 24px top 50%;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: #E5CEA9;
  color: #393648;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 62px;
  transition: all 0.3s ease; }
  .upload-file-container:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .upload-file-container {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .upload-file-container {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .upload-file-container {
      width: 100%;
      height: 62px; } }
  @media screen and (min-width: 850px) {
    .upload-file-container {
      width: 100%;
      height: 62px; } }
  .upload-file-container:hover {
    background-image: url(../img/icon/upload-icon-hover.svg);
    transition: all 0.3s ease; }

label[for="file"] {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer; }

.upload-file__text {
  color: #393648;
  line-height: 18px;
  font-size: 13px;
  font-weight: 700;
  text-align: left; }
  @media screen and (max-width: 500px) {
    .upload-file__text {
      max-width: 82%;
      padding: 24px; } }
  @media screen and (min-width: 850px) {
    .upload-file__text {
      max-width: 82%;
      padding: 24px; } }

.form__btn-uploab-file {
  display: none; }

.textarea {
  height: 100px;
  resize: none; }

.btn-form {
  background-color: #393648;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  border-image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  width: 100%;
  height: 62px; }
  .btn-form:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease; }
  @media screen and (min-width: 450px) {
    .btn-form {
      width: 242px; } }
  @media screen and (min-width: 850px) {
    .btn-form {
      padding-left: 0;
      padding-right: 0;
      width: 232px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px; } }
  @media screen and (min-width: 450px) {
    .btn-form {
      width: 100%;
      height: 62px; } }
  @media screen and (min-width: 850px) {
    .btn-form {
      width: 100%;
      height: 62px;
      font-size: 14px; } }

mark {
  background-color: #ff10ff;
  display: none; }

.customer-projects3 {
  position: relative;
  display: none; }
  @media screen and (min-width: 1280px) {
    .customer-projects3 {
      display: block;
      width: 33.3333333333%; } }
  @media screen and (min-width: 1920px) {
    .customer-projects3 {
      width: 50%; } }
  .customer-projects3__fon {
    width: 100%;
    position: absolute;
    background-image: url("../img/customer-projects/customer-projects-picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
    height: 100%; }

.customer-projects-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .customer-projects-content {
      flex-direction: row; } }

.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  @media screen and (min-width: 1280px) {
    .contacts-content {
      flex-direction: row; } }

.contacts1-2 {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1280px) {
    .contacts1-2 {
      width: 50%; } }
  .contacts1-2 .contacts2 {
    width: 100%; }

@media screen and (min-width: 1280px) {
  .contacts3 {
    width: 50%; } }

.contacts1 {
  background-color: #393648;
  padding: 37px 12px 50px;
  padding-bottom: 77px; }
  @media screen and (min-width: 600px) {
    .contacts1 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .contacts1 {
      padding: 50px 48px 70px; } }

.contacts1 .page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 60px; }
  @media screen and (min-width: 600px) {
    .contacts1 .page-title {
      text-align: left;
      font-size: 2.5714285714rem; } }

.contacts1 p {
  color: #393648;
  line-height: 2.07;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  color: #ffffff;
  margin-bottom: 56px; }

.contacts1__contact1 {
  color: #ffffff;
  line-height: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px; }
.contacts1__contact2 {
  color: #ffffff;
  line-height: 100%;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px; }

.contacts2__wrapper {
  flex-grow: 1;
  position: relative;
  padding-top: 75%;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .contacts2__wrapper {
      width: 50%;
      padding-top: 40%; } }
.contacts2__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.contacts3 {
  background-color: #F2F2F2;
  padding: 37px 12px 50px;
  padding-top: 77px;
  padding-bottom: 60px; }
  @media screen and (min-width: 600px) {
    .contacts3 {
      padding: 50px 40px 70px; } }
  @media screen and (min-width: 1024px) {
    .contacts3 {
      padding: 50px 48px 70px; } }
  .contacts3__title {
    color: #393648;
    line-height: 100%;
    font-size: 24px;
    font-weight: 700; }
  .contacts3 p {
    color: #393648;
    line-height: 2.07;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px; }

.contacts3-form__title {
  color: #393648;
  line-height: 150%;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px; }

@media screen and (min-width: 1024px) {
  .contacts-form__block {
    display: flex; } }
@media screen and (min-width: 1280px) {
  .contacts-form__block {
    flex-direction: column; } }
@media screen and (min-width: 1920px) {
  .contacts-form__block {
    flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .contacts-form__block1, .contacts-form__block2 {
    width: 50%; } }
@media screen and (min-width: 1280px) {
  .contacts-form__block1, .contacts-form__block2 {
    width: 400px; } }
@media screen and (min-width: 1920px) {
  .contacts-form__block1, .contacts-form__block2 {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  .contacts-form__block1 {
    padding-right: 17px; } }
@media screen and (min-width: 1280px) {
  .contacts-form__block1 {
    padding-right: 0; } }
@media screen and (min-width: 1920px) {
  .contacts-form__block1 {
    padding-right: 17px; } }

@media screen and (min-width: 1024px) {
  .contacts-form__block2 {
    padding-left: 17px; } }
@media screen and (min-width: 1280px) {
  .contacts-form__block2 {
    padding-left: 0; } }
@media screen and (min-width: 1920px) {
  .contacts-form__block2 {
    padding-left: 17px; } }

input[name="yourmanager"] {
  margin-bottom: 20px; }

.switcher {
  margin-bottom: 38px;
  padding-left: 24px;
  margin-top: 34px;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 600px) {
    .switcher {
      flex-direction: row;
      align-items: center; } }
  .switcher__text {
    margin-bottom: 12px;
    color: #393648;
    line-height: 100%;
    font-size: 18px;
    font-weight: 300; }
    @media screen and (min-width: 600px) {
      .switcher__text {
        margin-bottom: 0;
        margin-right: 23px; } }

.switch {
  width: 74px;
  height: 32px;
  background-color: #E1E1E1;
  box-shadow: inset 0px 0px 4px #D4D4D4;
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 1px;
  cursor: pointer;
  box-sizing: content-box; }

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box; }

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 15px;
  border-radius: inherit;
  box-sizing: content-box; }

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  transition: inherit;
  box-sizing: content-box; }

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #817E8C; }

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #817E8C;
  opacity: 0; }

.switch-input:checked ~ .switch-label:before {
  opacity: 0; }

.switch-input:checked ~ .switch-label:after {
  opacity: 1; }

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff; }

.switch-input:checked ~ .switch-handle {
  left: 45px; }

.switch-label, .switch-handle {
  transition: All 0.3s ease; }

.textarea[name="feedback"] {
  height: 185px; }

.productHead {
  background-color: #F2F2F2;
  display: block;
  align-items: stretch; }
  @media screen and (min-width: 1024px) {
    .productHead {
      display: flex; } }
  .productHead__description {
    overflow: hidden;
    padding: 40px 25px;
    padding-bottom: 0;
    width: 100%;
    order: 1; }
    @media screen and (min-width: 600px) {
      .productHead__description {
        padding: 40px;
        padding-bottom: 0; } }
    @media screen and (min-width: 1024px) {
      .productHead__description {
        width: 40%;
        min-width: 500px; } }
  .productHead__name {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.5rem; }
    @media screen and (min-width: 600px) {
      .productHead__name {
        font-size: 2.5714285714rem; } }
  .productHead__nameImpact {
    font-weight: 600; }
  .productHead__shortDescr {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 6px;
    font-weight: bold; }
    .productHead__shortDescr > div {
      padding-left: 31px;
      position: relative;
      color: #CFA767;
      line-height: 2.07;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      letter-spacing: 0.16px;
      border-left-color: #CFA767;
      border-left-width: 10px;
      border-left-style: solid; }
  .productHead__descrInfo {
    font-weight: normal; }
  .productHead__slider {
    margin-bottom: 30px; }
  .productHead__typesLabel {
    font-size: 18px;
    font-weight: bold; }
    @media screen and (min-width: 600px) {
      .productHead__typesLabel {
        font-size: 22px; } }
  .productHead__image {
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
    background-position: center;
    background-size: cover;
    padding-bottom: 66.66666667%;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .productHead__image {
        padding-bottom: 0; } }

.productSlider {
  background-color: #fff;
  border: 1px solid rgba(192, 192, 192, 0.7); }
  .productSlider__body {
    height: auto;
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 600px) {
      .productSlider__body {
        padding: 20px 0; } }
    @media screen and (min-width: 1920px) {
      .productSlider__body {
        padding: 40px 0; } }
  .productSlider__slide {
    outline: none !important;
    height: auto;
    padding: 0; }
    @media screen and (min-width: 600px) {
      .productSlider__slide {
        padding: 0 20px; } }
    @media screen and (min-width: 1920px) {
      .productSlider__slide {
        padding: 0 40px; } }
  .productSlider__arrow {
    z-index: 200; }
    .productSlider__arrow-right {
      right: -25px !important; }
    .productSlider__arrow-left {
      left: -25px !important; }

.productTypes {
  align-items: stretch; }
  @media screen and (min-width: 1024px) {
    .productTypes {
      display: flex; } }
  .productTypes__col {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .productTypes__col {
        width: 33.33333%; } }

.productType {
  padding: 40px;
  background-color: #F2F2F2; }
  .productType__image {
    margin-bottom: 30px; }
    .productType__image img {
      width: 100%; }
  .productType__nameContainer {
    margin-bottom: 15px; }
  .productType__name {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px; }
    @media screen and (min-width: 600px) {
      .productType__name {
        font-size: 22px; } }
  .productType__price {
    color: #CFA767;
    font-weight: bold; }
  .productType__priceLabel {
    color: #CFA767; }
  .productType__text {
    font-size: 0.9rem;
    line-height: 1.4rem; }
    .productType__text h3 {
      margin-top: 30px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .productType__text ul {
      padding-left: 20px; }
  .productType__action {
    padding: 60px 0 0; }
    .productType__action .btn {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 28px;
      padding-right: 28px;
      border-radius: 2px;
      text-align: center;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
      transition: all 0.3s ease;
      cursor: pointer; }
      .productType__action .btn:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
        transition: all 0.3s ease; }
      @media screen and (min-width: 850px) {
        .productType__action .btn {
          padding-left: 0;
          padding-right: 0;
          width: 232px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 13px; } }
  .productType-dark {
    color: #fff;
    background-color: #393648; }
    .productType-dark .productType__name {
      color: #E5CEA9; }
  .productType-orange {
    background-color: #CFA767; }
    .productType-orange .productType__price {
      color: #393648; }
    .productType-orange .productType__priceLabel {
      color: #393648; }

/*# sourceMappingURL=style.css.map */
