/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * www.smartmobilelabs.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2017
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 * You can use either the complete or subsetted fonts:
 * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
 * See "Glyphs & Languages" for an overview of the characters in the *_subsetted.html file in the root directory of this package.
 *
 */


/* Complete */

@font-face {
    font-family: "Brown-Light";
    src:url("fonts/lineto-brown-light.eot");
    src:url("fonts/lineto-brown-light.eot?#iefix") format("embedded-opentype"),
        url("fonts/lineto-brown-light.woff2") format("woff2"),
        url("fonts/lineto-brown-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brown-Reclinlight";
    src:url("fonts/lineto-brown-reclinlight.eot");
    src:url("fonts/lineto-brown-reclinlight.eot?#iefix") format("embedded-opentype"),
        url("fonts/lineto-brown-reclinlight.woff2") format("woff2"),
        url("fonts/lineto-brown-reclinlight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Subsetted */

@font-face {
    font-family: "Brown-Light-S";
    src:url("fonts_subsetted/lineto-brown-light.eot");
    src:url("fonts_subsetted/lineto-brown-light.eot?#iefix") format("embedded-opentype"),
        url("fonts_subsetted/lineto-brown-light.woff2") format("woff2"),
        url("fonts_subsetted/lineto-brown-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brown-Reclinlight-S";
    src:url("fonts_subsetted/lineto-brown-reclinlight.eot");
    src:url("fonts_subsetted/lineto-brown-reclinlight.eot?#iefix") format("embedded-opentype"),
        url("fonts_subsetted/lineto-brown-reclinlight.woff2") format("woff2"),
        url("fonts_subsetted/lineto-brown-reclinlight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}