
.collapsed{
  overflow: hidden;
  height: 0;
}

.adaptive-image{
  position: relative;
  overflow: hidden;
  img {
    transform-origin: 50% 50%;
    .Center();
    &.wide {
      height: 100%;
    }
    &.tall {
      width: 100%;
    }
  }
}

.scrollbar-measure {
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.modal-open{
  overflow: hidden;
}