* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body,
html {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-size: 21px;
  font-weight: normal;
}
@media screen (max-width: 1440px) {
  body,
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  body,
  html {
    font-size: 14px;
  }
}
input,
select,
textarea {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}
.select::before {
  width: 64px;
  background-position: center center;
}
@media screen and (max-width: 1440px) {
  .select::before {
    width: 46px;
  }
}
@media screen and (max-width: 576px) {
  .select::before {
    width: 48px;
  }
}
html,
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
input,
ul,
li,
td,
th {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}
input,
select,
textarea,
fieldset {
  border: none;
  outline: none;
}
.main-menu {
  padding: 50px 2.91666667vw;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2000;
  background-color: #fff;
}
@media screen and (max-width: 1440px) {
  .main-menu {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-menu {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main-menu__logo-img {
  max-width: 100%;
}
@media screen and (max-width: 1440px) {
  .main-menu__logo-img {
    max-width: 152px;
  }
}
@media screen and (max-width: 576px) {
}
.main-menu__logo-img--mob {
  display: none;
  /*@media screen and (max-width: @media-sm) {
          display: block;
        }*/
}
.wrapper {
  padding-left: 58px;
  padding-right: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.menu-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  z-index: 1999;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
}
@media screen and (max-width: 900px) {
  .menu-overlay {
    display: block;
  }
}
.menu-overlay--open {
  opacity: 1;
  visibility: visible;
}
.main-nav {
  max-width: 80%;
  height: 112px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1160px) {
  .main-nav {
    max-width: 83%;
  }
}
@media screen and (max-width: 1440px) {
  .main-nav {
    height: 70px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 900px) {
  .main-nav {
    position: fixed;
    width: 200px;
    right: 0;
    height: 100%;
    background: white;
    z-index: 2000;
    top: 0;
    display: block;
    padding-top: 70px;
    transform: translateX(100%);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  .main-nav--open {
    transform: none;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.main-nav__item {
  display: block;
  margin-left: 2em;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  font-size: 21px;
  cursor: pointer;
  text-align: center;
  flex-shrink: 2;
}
@media screen and (max-width: 1600px) {
  .main-nav__item {
    margin-left: 1.5em;
    font-size: 19px;
  }
}
@media screen and (max-width: 1440px) {
  .main-nav__item {
    font-size: 15px;
    margin-left: 1.3em;
  }
}
@media screen and (max-width: 1160px) {
  .main-nav__item {
    margin-left: 1.1em;
    letter-spacing: 2.1px;
  }
}
@media screen and (max-width: 1024px) {
  .main-nav__item {
    margin-left: 1em;
    flex-grow: 1;
    letter-spacing: 2.1px;
  }
}
@media screen and (max-width: 950px) {
  .main-nav__item {
    font-size: 1.5vw;
  }
}
.main-nav__item:first-child {
  margin-left: 0;
}
.main-nav__item:hover,
.main-nav__item.active {
  color: #bccfde;
}
.main-nav__item:active {
  color: #bccfde;
}
.main-nav__item:target {
  color: #bccfde;
}
@media screen and (max-width: 900px) {
  .main-nav__item {
    font-size: 20px;
    line-height: 24px;
    padding: 13px 0 13px 20px;
    display: block;
    border-bottom: 1px solid #3d3e3d;
    text-align: left;
    margin: 0;
  }
  .main-nav__item:first-child {
    border-top: 1px solid #3d3e3d;
  }
  .main-nav__item.active {
    color: #3d3e3d;
  }
}
.mob-nav {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2200;
}
.mob-nav--open .burger-container_icon {
  background: none;
}
.mob-nav--open .burger-container_icon:before,
.mob-nav--open .burger-container_icon:after {
  top: 0;
}
.mob-nav--open .burger-container_icon:before {
  transform: rotate(-45deg);
}
.mob-nav--open .burger-container_icon:after {
  transform: rotate(45deg);
}
.burger-container {
  display: none;
}
@media screen and (max-width: 900px) {
  .burger-container {
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
}
.burger-container_icon {
  display: none;
}
@media screen and (max-width: 900px) {
  .burger-container_icon {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #3d3e3d;
  }
}
.burger-container_icon:before,
.burger-container_icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #3d3e3d;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-container_icon:before {
  top: -10px;
}
.burger-container_icon:after {
  top: 10px;
}
.project-container {
  height: 100%;
}
.main-container {
  height: 100%;
}
.main-header {
  height: 100%;
  box-sizing: border-box;
  padding: 0 50px 2.91666667vw;
  /*padding-top: 112px;// высота меню
  @media screen and (max-width: @media-xxl) { // 1440px
    padding-top: 70px; // высота меню
  }*/
}
@media screen and (max-width: 1440px) {
  .main-header {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-header {
    padding: 0 16px 16px;
  }
}
.main-slider {
  height: 100%;
  width: 100%;
}
.main-slider__content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-slider__fon {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo {
  color: #ffffff;
  width: 50%;
  max-width: 700px;
  /*@media screen and (max-width: @media-xxl) {  // 1440px
    top: unit(230px/1024px)*100vh;
  }
  @media screen and (max-width: 1170px) {  
    top: auto;
    bottom: 8vh;
  }
  @media screen and (max-width: @media-md) { // 768px;
    top: auto;
    bottom: 8.5vh;
  }
  @media screen and (max-width: @media-sm) { // 576px;
    top: auto;
    bottom: 5vh;
  }*/
  /*&--MZ { // Мария Залите
    left: unit(317px/1920px)*100vw;
    width: 490px;
    @media screen and (max-width: @media-xxl) { // 1440px
      .show-none;
      left: unit(86px/956px)*100vw;
      width: 396px;
    }
    @media screen and (max-width: 1170px) {
      width: 50%;
    }
    @media screen and (max-width: 800px) {
      width: auto;
    }
  }
  &--VA {  // Виктория Арефьева
    right: unit(211px/1810px)*100%;
    width: 644px;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) { 
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {    }
  }
  &--EB {  // Елизавета Боронина
    right: unit(140px/1920px)*100vw; 
    width: unit(700px/1810px)*100%;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) { 
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {    }
  }
  &--LL {  // Людмила Лёзова
    right: unit(150px/1920px)*100vw; 
    width: unit(795px/1810px)*100%;
    @media screen and (max-width: @media-xxl) { // 1440px
      right: unit(73px/956px)*100vw; 
      width: 396px;
    }
    @media screen and (max-width: 1170px) {  
      // width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: @media-sm) { // 576px;
      width: 100%;
    }
    @media screen and (max-width: 320px) {
    }
  }*/
}
@media screen and (max-width: 1170px) {
  .promo {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .promo {
    width: auto;
  }
}
.promo {
  text-align: left;
  display: inline-block;
}
.promo__header {
  letter-spacing: 1.05px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1440px) {
  .promo__header {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 768px) {
  .promo__header {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.promo__header-name {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .promo__header-name {
    font-size: 26px;
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header-name {
    font-size: 17px;
    letter-spacing: 0.85px;
  }
}
.promo__header-position {
  font-size: 22px;
}
.promo__header-position span {
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .promo__header-position {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}
@media screen and (max-width: 576px) {
  .promo__header-position {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}
.promo__footer {
  position: relative;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 1.3px;
  text-indent: 1em;
}
@media screen and (max-width: 1440px) {
  .promo__footer {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 768px) {
  .promo__footer {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 19px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.promo__footer:before {
  content: '“';
  font-size: 120px;
  line-height: 60px;
  position: absolute;
  left: -45px;
  top: 25px;
}
@media screen and (max-width: 1440px) {
  .promo__footer:before {
    font-size: 96px;
    line-height: 48px;
    left: -39px;
    top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .promo__footer:before {
    font-size: 60px;
    line-height: 30px;
    left: -25px;
    top: 12px;
  }
}
.main-slider__items {
  position: absolute;
  right: 2.74725275%;
  bottom: 3.07692308%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .main-slider__items {
    right: 0;
    left: 0;
  }
}
.slider-item {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: white;
}
@media screen and (max-width: 1170px) {
  .slider-item {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.slider-item-active {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  background-color: none;
}
@media screen and (max-width: 1170px) {
  .slider-item-active {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item-active {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.slider-item:active {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  background-color: none;
}
@media screen and (max-width: 1170px) {
  .slider-item:active {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 576px) {
  .slider-item:active {
    width: 8px;
    height: 8px;
    margin-left: 10px;
  }
}
.main-video {
  padding: 0 50px 2.91666667vw;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-video {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-video {
    padding: 0 16px 16px;
  }
}
.video-mobile--vertical {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  height: 100%;
  position: relative;
  display: none;
}
@media screen and (max-width: 576px) {
  .video-mobile--vertical {
    display: block;
    background: url(../img/video_fon.jpg) center no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
}
.main-video__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}
.video__arrow {
  width: 85px;
  height: 95px;
  background-image: url(../img/video_play_icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  margin-bottom: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .video__arrow {
    width: 41px;
    height: 45px;
    background-size: contain;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 576px) {
  .video__arrow {
    margin-bottom: 28px;
  }
}
.video__title {
  color: #3d3e3d;
  max-width: 500px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 1440px) {
  .video__title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .video__title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .video__title {
    max-width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .video__title {
    max-width: 35%;
  }
}
@media screen and (max-width: 615px) {
  .video__title {
    width: 90%;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .video__title {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 4.2px;
  }
}
.relation {
  position: relative;
}
@media screen and (max-width: 576px) {
  .relation {
    display: none;
  }
}
.relation__ratio-16x9 {
  padding-top: 56.25%;
}
.relation__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-finished-projects {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .main-finished-projects {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-finished-projects {
    padding: 0 16px 16px;
  }
}
.finished-projects-content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .finished-projects-content {
    height: 100%;
  }
}
.finished-projects-header {
  width: 100%;
  height: 200px;
  background-color: #eef1f5;
  display: flex;
  align-items: center;
  position: absolute;
}
@media screen and (max-width: 992px) {
  .finished-projects-header {
    height: 100px;
  }
}
.finished-projects-header__title {
  padding-left: 58px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title {
    padding-left: 34px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title {
    padding-left: 0;
    text-align: center;
    margin: auto;
  }
}
.finished-projects-header__title-main {
  display: inline-block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-right: 75px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title-main {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title-main {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__title-main {
    margin-right: 14px;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__title-main {
    display: block;
    margin-right: auto;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
  }
}
.finished-projects-header__subtitle {
  font-size: 18px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1440px) {
  .finished-projects-header__subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
    display: inline-block;
  }
}
@media screen and (max-width: 576px) {
  .finished-projects-header__subtitle {
    display: block;
    text-align: center;
    margin: auto;
  }
}
.finished-project-main {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 992px) {
  .finished-project-main {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
}
.finished-project-item {
  position: relative;
  flex: 0 1 31.49171271%;
  height: 50%;
  text-decoration: none;
  color: #ffffff;
  padding-top: 50px;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .finished-project-item {
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 31.5%;
    padding-top: 34px;
  }
}
@media screen and (max-width: 992px) {
  .finished-project-item {
    flex-basis: 300px;
    max-width: 48%;
    height: 33.333%;
  }
}
@media screen and (max-height: 720px) {
  .finished-project-item {
    height: 250px;
  }
}
@media screen and (max-width: 740px) {
  .finished-project-item {
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .finished-project-item {
    flex-shrink: 0;
    max-width: 100%;
    height: 200px;
  }
}
.finished-project-item__bg {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}
.finished-project-item__bg:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  background: linear-gradient(8deg, #75885d 0%, #75885d 19%, rgba(117, 136, 93, 0) 41%, rgba(117, 136, 93, 0) 43%);
}
.finished-project-title {
  position: absolute;
  bottom: 23px;
  left: 0;
  padding-left: 10.1754386%;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .finished-project-title {
    bottom: 15px;
    padding-left: 13.51351351%;
  }
}
@media screen and (max-width: 576px) {
  .finished-project-title {
    bottom: 11px;
    padding-left: 16px;
  }
}
.finished-project-title__name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .finished-project-title__name {
    font-size: 12px;
    letter-spacing: 2.4px;
  }
}
@media screen and (max-width: 1440px) {
  .finished-project-title__name {
    font-size: 14px;
    letter-spacing: 2.8px;
  }
}
.finished-project-title__area {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.8px;
}
@media screen and (max-width: 1440px) {
  .finished-project-title__area {
    font-size: 9px;
    letter-spacing: 1.8px;
  }
}
.main-finished-projects--autoHeight .finished-project-item {
  height: 330px;
}
@media screen and (max-height: 720px) {
  .main-finished-projects--autoHeight .finished-project-item {
    height: 250px;
  }
}
@media screen and (max-width: 740px) {
  .main-finished-projects--autoHeight .finished-project-item {
    height: 200px;
  }
}
.main-customer-project {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .main-customer-project {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-customer-project {
    padding: 0 16px 16px;
  }
}
.customer-project-content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 940px) {
}
@media screen and (max-width: 740px) {
  .customer-project-content {
    flex-wrap: wrap;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
}
.customer-form {
  flex-basis: 878px;
  max-width: 878px;
  padding-top: 70px;
  padding-bottom: 34px;
  padding-left: 58px;
  padding-right: 58px;
  margin-right: 3.09392265%;
  background-color: #dce3ea;
}
@media screen and (max-width: 1440px) {
  .customer-form {
    flex-basis: 458px;
    flex-grow: 1;
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 34px;
    margin-right: 3.76569038%;
  }
}
@media screen and (max-width: 1024px) {
  .customer-form {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 740px) {
  .customer-form {
    margin-right: auto;
    padding-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form {
    margin-right: auto;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.customer-form__header {
  margin-bottom: 53px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header {
    margin-bottom: 23px;
  }
}
.customer-form__header-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header-title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .customer-form__header-title {
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-title {
    margin: auto;
    text-align: center;
    margin-bottom: 4px;
    width: 100%;
  }
}
.customer-form__header-subtitle {
  font-size: 18px;
  letter-spacing: 1.05px;
}
@media screen and (max-width: 1440px) {
  .customer-form__header-subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__header-subtitle {
    line-height: 1.29em;
    margin: auto;
    text-align: center;
    min-width: 50%;
  }
}
.customer-form__fieldset-short {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -4%;
}
.customer-form__fieldset-short__pair {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.customer-form__container-field {
  position: relative;
  min-width: 46%;
  height: 64px;
  flex-grow: 1;
  margin-right: 4%;
  margin-bottom: 28px;
}
@media screen and (max-width: 1440px) {
  .customer-form__container-field {
    height: 46px;
    flex-basis: 47%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__container-field {
    min-width: 0;
    height: 48px;
    flex-basis: 100%;
  }
}
.customer-form__field {
  background-color: white;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #a1a9b0;
  padding-left: 25px;
  border: none;
  outline: none;
}
@media screen and (max-width: 1440px) {
  .customer-form__field {
    font-size: 15px;
    letter-spacing: 0.75px;
    padding-left: 18px;
  }
}
@media screen and (max-width: 576px) {
  .customer-form__field {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-left: 15px;
  }
}
.textarea {
  width: 100%;
  height: 166px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1440px) {
  .textarea {
    height: 77px;
    margin-bottom: 16px;
  }
}
.textarea__field {
  resize: none;
  padding-top: 22px;
}
@media screen and (max-width: 1440px) {
  .textarea__field {
    padding-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .textarea__field {
    padding-top: 10px;
  }
}
textarea::placeholder,
input::placeholder {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #a1a9b0;
}
@media screen and (max-width: 1440px) {
  textarea::placeholder,
  input::placeholder {
    font-size: 15px;
    letter-spacing: 0.75px;
  }
}
@media screen and (max-width: 576px) {
  textarea::placeholder,
  input::placeholder {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-left: 15px;
  }
}
.select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a1a9b0;
  background: url(../img/select_arrow.png) 93% 52% no-repeat;
  cursor: pointer;
}
.select::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
  background: url(../img/select_arrow.png) 93% 52% no-repeat;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1440px) {
  .select::before {
    background-size: auto 24%;
  }
}
.select__option {
  height: 30px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: 25px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .select__option {
    height: 28px;
    padding-left: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .select__option {
    height: 28px;
    padding-left: 15px;
    line-height: 28px;
  }
}
.option-first {
  height: 30px;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: 25px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .option-first {
    height: 28px;
    padding-left: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .option-first {
    height: 28px;
    padding-left: 15px;
    line-height: 28px;
  }
}
.form__input-file {
  display: block;
  position: relative;
  background: url(../img/input_file_icon.png) 93% 50% no-repeat #a0a4a8;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1440px) {
  .form__input-file {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 13px;
    background-size: auto 40%;
  }
}
.input-file {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: 25px;
}
@media screen and (max-width: 1440px) {
  .input-file {
    padding-left: 18px;
  }
}
.input-file-field {
  display: none;
}
.input-file-text {
  width: 70%;
}
@media screen and (max-width: 1440px) {
  .input-file-text {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .input-file-text {
    width: 60%;
  }
}
.button-form {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
}
@media screen and (max-width: 1440px) {
  .button-form {
    height: 46px;
    font-size: 16px;
    letter-spacing: 2.4px;
  }
}
@media screen and (max-width: 1440px) {
  .button-form {
    height: 48px;
    font-size: 14px;
    letter-spacing: 2.1px;
  }
}
.form-use {
  flex-basis: 878px;
  padding-top: 197px;
  padding-right: 3.75690608%;
  padding-left: 3.75690608%;
  background-color: #eef1f5;
}
@media screen and (max-width: 1440px) {
  .form-use {
    flex-basis: 458px;
    flex-grow: 1;
    padding-top: 107px;
    padding-right: 4.07949791%;
    padding-left: 4.07949791%;
  }
}
@media screen and (max-width: 740px) {
  .form-use {
    flex-basis: 100%;
    padding-bottom: 62px;
    padding-top: 70px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 34px;
  }
}
@media screen and (max-width: 576px) {
  .form-use {
    padding-top: 41px;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 16px;
  }
}
.form-use p > span {
  text-transform: uppercase;
}
.form-use__title {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #667e48;
  font-size: 28px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 67px;
}
@media screen and (max-width: 1440px) {
  .form-use__title {
    font-size: 19px;
    letter-spacing: 3.8px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__title {
    font-size: 18px;
    letter-spacing: 3.6px;
  }
}
.form-use__text {
  line-height: 33px;
  letter-spacing: 50;
  margin-bottom: 32px;
}
@media screen and (max-width: 1440px) {
  .form-use__text {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__text {
    line-height: 1.29em;
  }
}
.form-use__text p {
  margin-bottom: 32px;
}
@media screen and (max-width: 1440px) {
  .form-use__text p {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__text p {
    margin-bottom: 14px;
  }
}
.form-use__text-important {
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .form-use__text-important {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .form-use__text-important {
    line-height: 1.29em;
  }
}
div.form-use__text {
  margin-bottom: 0;
}
@media screen and (max-width: 1440px) {
  div.form-use__text {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  div.form-use__text {
    margin-bottom: 0;
  }
}
.main-process {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .main-process {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-process {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 576px) {
  .main-process {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main-process-content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 940px) {
  .main-process-content {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 760px) {
  .main-process-content {
    padding-top: 43px;
    padding-bottom: 14px;
  }
}
.main-process_title {
  position: absolute;
  z-index: 1;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  top: 78px;
  left: 0;
  padding-left: 58px;
}
@media screen and (max-width: 1440px) {
  .main-process_title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .main-process_title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .main-process_title {
    top: 37px;
  }
}
@media screen and (max-width: 576px) {
  .main-process_title {
    display: none;
  }
}
.process-slider {
  margin: auto;
  width: 100%;
}
.process-slider__slide {
  outline: none !important;
}
.process-slider__wrapper {
  width: 100%;
}
.process-slider__illusrtration {
  width: 572px;
  text-align: center;
  margin: auto;
  margin-bottom: 9px;
}
@media screen and (max-width: 1440px) {
  .process-slider__illusrtration {
    width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__illusrtration {
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__illusrtration {
    width: 100%;
  }
}
.process-slider__illusrtration-img {
  width: 85%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-height: 800px) {
  .process-slider__illusrtration-img {
    width: 50%;
  }
}
.process-slider .show-none {
  display: none;
}
.process-slider__info {
  max-width: 750px;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .process-slider__info {
    max-width: 600px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__info {
    max-width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__info {
    width: 100%;
    margin: auto;
  }
}
.process-slider__title {
  text-align: center;
  margin-bottom: 28px;
  font-size: 28px;
  color: #667e48;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .process-slider__title {
    font-size: 21px;
    letter-spacing: 4.2px;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__title {
    font-size: 17px;
    letter-spacing: 3.4px;
    margin-bottom: 12px;
  }
}
.process-slider__text {
  font-size: 21px;
  line-height: 33px;
  letter-spacing: 1.05px;
}
@media screen and (max-width: 1440px) {
  .process-slider__text {
    font-size: 16px;
    letter-spacing: 1.05px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .process-slider__text {
    letter-spacing: 0.65px;
  }
}
.process-slider__pagination {
  width: 950px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}
@media screen and (max-width: 1440px) {
  .process-slider__pagination {
    width: 700px;
    margin-top: 33px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination {
    margin-top: 33px;
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination {
    margin-top: 30px;
    width: 80vw;
  }
}
.process-slider__pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding-bottom: 52px;
}
@media screen and (max-width: 1440px) {
  .process-slider__pagination-container {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__pagination-container {
    max-width: 86%;
  }
}
.process-slider__arrow {
  width: 15px;
  padding: 5px 10px;
  height: 32px;
  box-sizing: content-box;
  cursor: pointer;
  margin-top: -5px;
}
@media screen and (max-width: 420px) {
  .process-slider__arrow {
    height: 24px;
    background-size: 100%;
  }
}
.process-slider__arrow-left {
  background: url(../img/process_arrow_left_icon.png) center center no-repeat;
}
@media screen and (max-width: 1440px) {
  .process-slider__arrow-left {
    margin-top: -5px;
  }
}
.process-slider__arrow-right {
  background: url(../img/process_arrow_right_icon.png) center center no-repeat;
}
@media screen and (max-width: 1440px) {
}
.process-slider__arrow--disabled {
  opacity: 0.5;
}
.process-slider__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-slider__item--active .process-slider__item-fon {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon {
  position: relative;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  transition-duration: 0.2s;
  color: #667e48;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .process-slider__item-fon {
    width: 32px;
    height: 32px;
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  .process-slider__item-fon {
    width: 24px;
    height: 24px;
    font-size: 11px;
  }
}
.process-slider__item-fon:checked {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon:active {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-fon:hover {
  color: #ffffff;
  background-color: #667e48;
}
.process-slider__item-name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.7px;
  color: #667e48;
}
@media screen and (max-width: 1440px) {
  .process-slider__item-name {
    padding-top: 10px;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 992px) {
  .process-slider__item-name {
    padding-top: 10px;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.4px;
  }
}
@media screen and (max-width: 768px) {
  .process-slider__item-name {
    display: none;
  }
}
.main-payment {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .main-payment {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-payment {
    padding: 0 16px 16px;
  }
}
.main-payment-content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f6f8;
}
@media screen and (max-width: 940px) {
  .main-payment-content {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 576px) {
  .main-payment-content {
    padding-top: 27px;
    padding-bottom: 23px;
  }
}
.payment-slider {
  max-width: 80%;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .payment-slider {
    max-width: 900px;
    width: 80%;
  }
}
@media screen and (max-width: 740px) {
  .payment-slider {
    max-width: none;
    width: 100%;
    margin-top: 0;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.payment-slider__title {
  text-align: center;
  margin-bottom: 77px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 200;
  text-transform: uppercase;
  color: #667e48;
}
@media screen and (max-width: 1440px) {
  .payment-slider__title {
    margin-bottom: 40px;
    font-size: 21px;
  }
}
@media screen and (max-width: 576px) {
  .payment-slider__title {
    margin-bottom: 27px;
    font-size: 16px;
  }
}
.payment-slider__illustration {
  position: relative;
}
@media screen and (max-width: 740px) {
  .payment-slider__illustration {
    width: 120px;
  }
}
.payment-slider__wrapper {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .payment-slider__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
  }
}
.payment-slider__info {
  position: relative;
}
@media screen and (max-width: 740px) {
  .payment-slider__info {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
  }
}
.payment-slider__arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow {
    width: 26px;
    height: 26px;
  }
}
@media screen and (max-width: 740px) {
  .payment-slider__arrow {
    display: none !important;
  }
}
.payment-slider__arrow--left {
  left: -50px;
  background: url(../img/process_arrow_left_icon.png) 0% 50% no-repeat;
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow--left {
    background-size: 12px auto;
    left: -26px;
  }
}
.payment-slider__arrow--right {
  right: -50px;
  background: url(../img/process_arrow_right_icon.png) 100% 50% no-repeat;
}
@media screen and (max-width: 1440px) {
  .payment-slider__arrow--right {
    background-size: 12px auto;
    right: -26px;
  }
}
.payment-slider__text-slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  background-color: #ffF;
  border-top: 2px solid #667e48;
}
@media screen and (max-width: 1600px) {
  .payment-slider__text-slider {
    height: 210px;
  }
}
@media screen and (max-width: 1440px) {
  .payment-slider__text-slider {
    height: 190px;
  }
}
@media screen and (max-width: 1200px) {
  .payment-slider__text-slider {
    height: 174px;
  }
}
@media screen and (max-width: 870px) {
  .payment-slider__text-slider {
    height: 174px;
  }
}
@media screen and (max-width: 740px) {
  .payment-slider__text-slider {
    height: auto;
    border-left: 2px solid #667e48;
    border-top: none;
    padding: 0;
  }
}
.payment-slider__text {
  display: flex !important;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  outline: none !important;
}
@media screen and (max-width: 1440px) {
  .payment-slider__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 740px) {
  .payment-slider__text {
    padding: 20px 10px;
  }
}
.payment-slider__text-container {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 740px) {
  .payment-slider__text-container {
    text-align: left;
  }
}
.payment-slider .slick-list,
.payment-slider .slick-track {
  height: 100%;
}
@media screen and (max-width: 740px) {
  .payment-slider .slick-list,
  .payment-slider .slick-track {
    height: auto;
  }
}
@media screen and (max-width: 740px) {
  .payment-slider__content {
    display: flex;
    align-items: stretch;
  }
}
.show-none {
  display: none;
}
.paymentGraph {
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}
@media screen and (max-width: 1440px) {
  .paymentGraph {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .paymentGraph {
    padding-bottom: 70px;
  }
}
.paymentGraph__images {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 740px) {
  .paymentGraph__images {
    display: none;
  }
}
.paymentGraph__imagesCol {
  float: left;
  text-align: center;
  width: 20%;
}
.paymentGraph__imagesCol img {
  max-width: 100%;
}
.paymentGraph__labels {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 740px) {
  .paymentGraph__labels {
    display: block;
  }
}
.paymentGraph__labelsCol {
  float: left;
  text-align: center;
  width: 20%;
  padding: 10px 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .paymentGraph__labelsCol {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 740px) {
  .paymentGraph__labelsCol {
    display: block;
    float: none;
    width: 100%;
  }
}
.paymentGraph__labelsCol:before,
.paymentGraph__labelsCol:after {
  display: block;
  content: '';
  height: 2px;
  width: 50%;
  background-color: #eaecf0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.paymentGraph__labelsCol:before {
  left: 0;
}
.paymentGraph__labelsCol:after {
  right: 0;
}
.paymentGraph__labelsCol:first-child:before {
  display: none;
}
.paymentGraph__labelsCol:last-child:after {
  display: none;
}
.paymentGraph__labelsCol:last-child .paymentGraph__label:before {
  display: none;
}
@media screen and (max-width: 740px) {
  .paymentGraph__labelsCol:before,
  .paymentGraph__labelsCol:after {
    display: none;
  }
}
.paymentGraph__label {
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  display: inline-block;
  padding: 5px 15px;
  background-color: #eaecf0;
  border-radius: 9999px;
  position: relative;
  z-index: 200;
}
@media screen and (max-width: 1200px) {
  .paymentGraph__label {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 740px) {
  .paymentGraph__label {
    display: block;
  }
  .paymentGraph__label:before {
    display: block;
    content: '';
    width: 2px;
    background-color: #eaecf0;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 120px;
    bottom: -120px;
  }
}
.paymentGraph__stageLabel {
  background-color: #667e48;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  right: -30px;
  border-radius: 50%;
  line-height: 60px;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  z-index: 200;
}
@media screen and (max-width: 1200px) {
  .paymentGraph__stageLabel {
    bottom: -50px;
    top: auto;
    transform: none;
  }
  .paymentGraph__stageLabel:before {
    display: block;
    content: '';
    position: absolute;
    left: 4px;
    border-style: solid;
    border-color: transparent transparent #667e48 transparent;
    border-width: 0 26px 34px 26px;
    top: -19px;
  }
}
@media screen and (max-width: 740px) {
  .paymentGraph__stageLabel {
    transform: none;
    top: auto;
    bottom: auto;
    display: block;
    position: relative;
    margin: 30px auto 20px;
    right: auto;
  }
  .paymentGraph__stageLabel:before {
    display: none;
  }
}
.paymentGraph__labelImage {
  display: none;
  padding-bottom: 10px;
  position: relative;
}
.paymentGraph__labelImage img {
  width: 100%;
  position: relative;
  z-index: 200;
}
@media screen and (max-width: 740px) {
  .paymentGraph__labelImage {
    display: block;
  }
  .paymentGraph__labelImage:before {
    display: block;
    content: '';
    width: 2px;
    background-color: #eaecf0;
    position: absolute;
    left: 50%;
    margin-left: -1px;
  }
  .paymentGraph__labelImage:before {
    height: 30px;
    bottom: 0;
  }
}
.paymentGraph__pointer {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #667e48 transparent;
  border-width: 0 15px 20px 15px;
  margin-left: -15px;
  bottom: 0;
  display: block;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1440px) {
  .paymentGraph__pointer {
    border-width: 0 7px 10px 7px;
    margin-left: -7px;
  }
}
.paymentGraph__pointer-hidden {
  display: none;
  left: 0;
}
@media screen and (max-width: 740px) {
  .paymentGraph__pointer {
    border-color: transparent #667e48 transparent transparent;
    border-width: 7px 10px 7px 0;
    left: auto !important;
    right: 0 !important;
    bottom: auto;
    margin-left: auto;
    margin-top: -7px;
  }
}
.main-contacts {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 250px;
}
@media screen and (max-width: 1440px) {
  .main-contacts {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-contacts {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 1440px) {
  .main-contacts {
    padding-bottom: 218px;
  }
}
@media screen and (max-width: 740px) {
  .main-contacts {
    padding-bottom: 32px;
  }
}
.main-contacts-content {
  width: 100%;
  /*height: ~"calc(100vh - (112px + 50px))"; // высота экрана с учётом ширины меню и отступом снизу
  @media screen and (max-width: @media-xxl) { // 1440px
    height: ~"calc(100vh - (70px + 34px))";
  }
  @media screen and (max-width: @media-sm) { // : 576px
    height: ~"calc(100vh - (70px + 16px))";
  }*/
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #eef1f5;
  /*@media screen and (max-width: @media-xxl) {
    height: 481px;
  }
  @media screen and (max-width: 940px) {
    height: 100%;  
    flex-wrap: wrap;
  }*/
}
@media screen and (max-width: 740px) {
  .main-contacts-content {
    display: block;
  }
}
.contacts {
  width: 50%;
  padding-left: 58px;
  padding-top: 70px;
  z-index: 200;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .contacts {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  .contacts {
    padding-top: 37px;
  }
}
@media screen and (max-width: 940px) {
  .contacts {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .contacts {
    padding-top: 40px;
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1200px) {
  .contacts__header {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__header {
    width: 100%;
    margin-bottom: 40px;
  }
}
.contacts__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media screen and (max-width: 1440px) {
  .contacts__title {
    font-size: 30px;
    letter-spacing: 4.8px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__title {
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: 5.6px;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .contacts__title {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__title {
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
  }
}
.contacts__subtitle {
  max-width: 325px;
  font-size: 18px;
  font-weight: bold;
  color: #a3a6ac;
  line-height: 21px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1440px) {
  .contacts__subtitle {
    max-width: 232px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 940px) {
  .contacts__subtitle {
    max-width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .contacts__subtitle {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .contacts__phone {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__phone {
    margin-bottom: 36px;
    width: 100%;
  }
}
.contacts__phone-t {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a3a6ac;
  letter-spacing: 3.6px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1440px) {
  .contacts__phone-t {
    font-size: 12px;
    letter-spacing: 2.4px;
    margin-bottom: 3px;
  }
}
.contacts__phone-number {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #3d3e3d;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6.4px;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .contacts__phone-number {
    font-size: 20px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__phone-number {
    font-size: 21px;
    letter-spacing: 4.2px;
  }
}
@media screen and (max-width: 1200px) {
  .contacts__email {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .contacts__email {
    margin-bottom: 28px;
  }
}
.contacts__email-t {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a3a6ac;
  letter-spacing: 3.6px;
  margin-bottom: 6px;
}
@media screen and (max-width: 1440px) {
  .contacts__email-t {
    font-size: 12px;
    letter-spacing: 2.4px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__email-t {
    margin-bottom: 6px;
  }
}
.contacts__email-adr {
  display: inline-block;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: bold;
  color: #a3a6ac;
  letter-spacing: 1.3px;
  text-decoration: none;
  border-bottom: 2px solid rgba(163, 166, 172, 0);
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr {
    border-bottom: 1px solid rgba(163, 166, 172, 0);
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__email-adr {
    font-size: 17px;
    letter-spacing: 0.85px;
  }
}
.contacts__email-adr:hover {
  border-bottom: 2px solid #a3a6ac;
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr:hover {
    border-bottom: 1px solid #a3a6ac;
  }
}
.contacts__email-adr:active {
  color: #3d3e3d;
  border-bottom: 2px solid #3d3e3d;
}
@media screen and (max-width: 1440px) {
  .contacts__email-adr:active {
    border-bottom: 1px solid #a3a6ac;
  }
}
.contacts__place {
  max-width: 490px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0.9px;
  color: #a3a6ac;
}
@media screen and (max-width: 1440px) {
  .contacts__place {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-align: left;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1280px) {
  .contacts__place {
    flex-direction: column;
  }
}
@media screen and (max-width: 940px) {
  .contacts__place {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }
}
.contacts__place-requisites {
  margin-right: 48px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1200px) {
  .contacts__place-requisites {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 940px) {
  .contacts__place-requisites {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.contacts__place-requisites span {
  text-transform: uppercase;
}
.contacts__place-adress span {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
@media screen and (max-width: 1200px) {
  .contacts__place-adress span {
    letter-spacing: 2.4px;
  }
}
.contacts__team {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background: url(../img/ladys_contact.png) 65% 100% no-repeat;
  pointer-events: none;
  background-size: auto 120%;
  background-position-x: center;
  background-position-y: bottom;
}
@media screen and (max-width: 1840px) {
  .contacts__team {
    background-size: auto 120%;
    background-position-x: center;
  }
}
@media screen and (max-width: 1440px) {
  .contacts__team {
    background-size: auto 120%;
    background-position-x: center;
  }
}
@media screen and (max-width: 1200px) {
  .contacts__team {
    background-size: auto 100%;
    background-position-x: center;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__team {
    background-size: auto 100%;
    background-position-x: center;
  }
}
@media screen and (max-width: 940px) {
  .contacts__team {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background: url(../img/ladys_contact-lg.jpg) 50% 100% no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 740px) {
  .contacts__team {
    height: 300px;
    width: 100%;
    pointer-events: auto;
    position: static;
    background-size: cover;
  }
}
@media screen and (max-width: 400px) {
  .contacts__team {
    height: 150px;
    background: url(../img/ladys_contact_mob.jpg) 50% 0 no-repeat;
    background-size: cover;
  }
}
.contacts__map {
  position: relative;
  width: 595px;
  background: url(../img/map.png) 100% 100% no-repeat;
  background-size: cover;
  overflow: hidden;
  flex-shrink: 595px;
}
@media screen and (max-width: 940px) {
  .contacts__map {
    width: 100%;
    height: 200px;
    height: 50%;
  }
}
@media screen and (max-width: 740px) {
  .contacts__map {
    height: 300px;
  }
}
.map {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.main-footer {
  padding: 0 50px 2.91666667vw;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1440px) {
  .main-footer {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .main-footer {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 740px) {
  .main-footer {
    position: relative;
  }
}
.main-footer-content {
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #667e48;
  padding-left: 58px;
  padding-right: 58px;
}
@media screen and (max-width: 1440px) {
  .main-footer-content {
    height: 150px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 768px) {
  .main-footer-content {
    align-items: center;
  }
}
@media screen and (max-width: 708px) {
  .main-footer-content {
    height: auto;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.footer__icon-container {
  display: none;
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .footer__icon-container {
    display: block;
  }
}
.footer__icon-img {
  width: 49px;
  height: 49px;
  background: url(../img/phone_icon_mob.png) center no-repeat;
  background-size: contain;
  margin: auto;
  margin-bottom: 36px;
}
.footer__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 768px) {
  .footer__form {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__form_text {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.05px;
  flex-basis: 460px;
}
@media screen and (max-width: 1440px) {
  .footer__form_text {
    font-size: 17px;
    line-height: 1.23em;
    letter-spacing: 0.85px;
    flex-basis: 256px;
    flex-grow: 1;
  }
}
@media screen and (max-width: 1024px) {
  .footer__form_text {
    font-size: 15px;
    line-height: 1.2em;
    letter-spacing: 0.75px;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_text {
    margin: 0 auto 25px;
    flex-basis: 460px;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em;
    letter-spacing: 0.65px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.21em;
    letter-spacing: 0.7px;
    flex-basis: 100%;
    margin: auto 16px;
    margin-bottom: 25px;
  }
}
.footer__form_mail {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding-left: 25px;
  color: #a1a9b0;
}
@media screen and (max-width: 1440px) {
  .footer__form_mail {
    height: 46px;
    font-size: 15px;
    letter-spacing: 0.75px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_mail {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 708px) {
  .footer__form_mail {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_mail {
    padding-left: 16px;
    height: 40px;
    font-size: 13px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }
}
.footer__form_mail--kontainer {
  display: block;
  flex: 0 1 670px;
  margin: 0 3.5359116%;
}
@media screen and (max-width: 1440px) {
  .footer__form_mail--kontainer {
    flex-grow: 1;
    flex-basis: 296px;
    margin: 0 3.45188285%;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_mail--kontainer {
    flex-grow: 0;
    margin: 0;
    margin-right: 3.45188285%;
  }
}
@media screen and (max-width: 708px) {
  .footer__form_mail--kontainer {
    width: 100%;
    flex-basis: 100%;
    margin: auto;
  }
}
.footer__form_btn {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  flex-basis: 465px;
  border: 2px solid #fff;
}
@media screen and (max-width: 1440px) {
  .footer__form_btn {
    flex-basis: 256px;
    flex-grow: 1;
    height: 46px;
    font-size: 16px;
    letter-spacing: 3.2px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__form_btn {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 1em;
  }
}
@media screen and (max-width: 768px) {
  .footer__form_btn {
    font-size: 13px;
    letter-spacing: 2.6px;
  }
}
@media screen and (max-width: 576px) {
  .footer__form_btn {
    height: 40px;
    letter-spacing: 1.95px;
  }
}
.footer__form--gray {
  color: #3d3e3d;
}
.footer__form--gray .footer__form_text {
  color: #3d3e3d;
}
.footer__form--gray .footer__form_mail {
  border: 1px solid #3d3e3d;
}
.project-data {
  padding: 0 50px 2.91666667vw;
}
@media screen and (max-width: 1440px) {
  .project-data {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .project-data {
    padding: 0 16px 16px;
  }
}
.project-content {
  height: auto;
}
.project__table {
  border-collapse: collapse;
  background-color: #f5f6f8;
  width: 100%;
}
.table-title {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #353534;
  line-height: 1.05555556px;
  text-align: left;
  vertical-align: middle;
  background: #eef1f5;
}
@media screen and (min-width: 576px) {
  .table-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .table-title {
    font-size: 26px;
    letter-spacing: 1.4px;
    line-height: 26px;
    padding-left: 58px;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
.table-title--border-bottom {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
}
@media screen and (min-width: 576px) {
  .table-title--border-bottom {
    border-bottom-width: 5px;
    border-top-width: 5px;
  }
}
.table-title--border-right {
  border-right: 4px solid #fff;
}
.table-title--right-column {
  width: 20%;
  text-align: center;
}
.table-list {
  display: list-item;
  list-style-position: outside;
  list-style-image: url(../img/bullet_1.png);
  padding-left: 2px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.9px;
  color: #353534;
  line-height: 14px;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .table-list {
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 22px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list {
    list-style-image: url(../img/bullet_3.png);
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 26px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}
.table-list span {
  vertical-align: super;
  font-size: 11px;
}
@media screen and (min-width: 576px) {
  .table-list span {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list span {
    font-size: 13px;
  }
}
.table-list--border-bottom {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 576px) {
  .table-list--border-bottom {
    border-bottom-width: 2px;
  }
}
.table-list--check {
  width: 20%;
  background: url(../img/check_icon.png) center 10px no-repeat;
  background-size: 20px ;
}
@media screen and (min-width: 576px) {
  .table-list--check {
    background-size: 25px ;
  }
}
@media screen and (min-width: 1440px) {
  .table-list--check {
    background-size: 34px;
    background-position-y: 14px;
  }
}
.table-list--bold {
  display: table-cell;
  font-weight: bold;
  padding-left: 16px;
}
@media screen and (min-width: 576px) {
  .table-list--bold {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .table-list--bold {
    padding-left: 58px;
  }
}
.border-left {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #fff;
}
@media screen and (min-width: 576px) {
  .border-left {
    border-left-width: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .border-left {
    border-left-width: 8px;
  }
}
.for-bullet {
  width: 25px;
}
@media screen and (min-width: 576px) {
  .for-bullet {
    width: 53px;
  }
}
@media screen and (min-width: 1440px) {
  .for-bullet {
    width: 76px;
  }
}
.project-contact-us {
  /*display: flex;
  flex-direction: column;
  background: @colorGrayLight5;
  padding-top: 40px;
  padding-bottom: 44px;
  padding-left: @paddingLeftGlobal-sm;
  padding-right: @paddingLeftGlobal-sm;
  @media screen and (min-width: @media-xxl) { // 1440px
    padding-top: 96px;
    padding-bottom: 84px;
  }
  &__text { // текст блок обратной связи
    margin: auto;
    text-align: center;
    font-size: @font-size-normal-xl;
    letter-spacing: @font-size-normal-xl*@letterSpacinngNorm/1000;
    line-height: unit(17px/@font-size-normal-xl)em;
    margin-bottom: 17px;
    width: 100%;
    @media screen and (min-width: @media-sm) { // 576px;
      font-size: @font-size-normal;
      letter-spacing: @font-size-normal*@letterSpacinngNorm/1000;
      line-height: unit(25px/@font-size-normal)em;
      margin-bottom: 22px;
      max-width: 380px;
    }
    @media screen and (min-width: @media-xxl) { // 1440px
      font-size: @font-size-normal;
      letter-spacing: @font-size-normal*@letterSpacinngNorm/1000;
      line-height: unit(33px/@font-size-normal)em;
      max-width: 570px;
      margin-bottom: 30px;
    }
  }*/
  height: 200px;
  display: flex;
  justify-content: space-between;
  background: #f5f6f8;
  padding-left: 58px;
  padding-right: 58px;
}
@media screen and (max-width: 1440px) {
  .project-contact-us {
    height: 200px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 768px) {
  .project-contact-us {
    align-items: center;
  }
}
@media screen and (max-width: 708px) {
  .project-contact-us {
    height: auto;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.project-contact-us_btn {
  box-sizing: border-box;
  height: 64px;
  color: white;
  background-color: #667e48;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  font-size: 13px;
  height: 40px;
  padding-top: 12px;
}
@media screen and (min-width: 576px) {
  .project-contact-us_btn {
    font-size: 18px;
    height: 64px;
    width: 380px;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .project-contact-us_btn {
    width: 570px;
  }
}
.project-header {
  padding: 0 50px 2.91666667vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1440px) {
  .project-header {
    padding: 0 34px 34px;
  }
}
@media screen and (max-width: 576px) {
  .project-header {
    padding: 0 16px 16px;
  }
}
@media screen and (max-width: 900px) {
  .project-header {
    height: auto;
  }
}
.project-header__content {
  position: relative;
  z-index: 200;
  padding-top: 112px;
}
@media screen and (max-width: 1440px) {
  .project-header__content {
    padding-top: 70px;
  }
}
.project-header__pointer-container {
  position: absolute;
  bottom: -30px;
  height: 30px;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .project-header__pointer-container {
    display: none;
  }
}
.project-header__pointer {
  position: absolute;
  height: 30px;
  top: 0;
  left: 500px;
  width: 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-header__pointer--sleeping {
  transition-duration: 0s;
}
.project-header__pointer:before,
.project-header__pointer:after {
  position: absolute;
  display: block;
  content: '';
  width: 9999px;
  height: 30px;
  top: 0;
  background-color: #eef1f5;
}
.project-header__pointer:before {
  right: 25px;
}
.project-header__pointer:after {
  left: 25px;
}
.project-header__pointer-left {
  border-style: solid;
  border-color: #eef1f5 transparent transparent transparent;
  border-width: 30px 25px 0 0;
  right: 0;
  top: 0;
  position: absolute;
}
.project-header__pointer-right {
  border-style: solid;
  border-color: transparent #eef1f5 transparent transparent;
  border-width: 0 25px 30px 0;
  left: 0;
  top: 0;
  position: absolute;
}
.project-header__thumbs-slider-wrapper {
  position: absolute;
  z-index: 200;
  right: 20px;
  top: 40px;
  height: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 1200px) {
  .project-header__thumbs-slider-wrapper {
    height: 50px;
  }
}
@media screen and (max-width: 900px) {
  .project-header__thumbs-slider-wrapper {
    display: none;
  }
}
.project-header__thumbs-slider {
  width: 570px;
}
@media screen and (max-width: 1200px) {
  .project-header__thumbs-slider {
    width: 285px;
  }
}
.project-header__thumbs-slide {
  height: 100px;
  width: 150px;
  overflow: hidden;
  outline: none !important;
  margin: 0 20px;
  cursor: pointer;
  opacity: 0.5;
}
.project-header__thumbs-slide--selected {
  opacity: 1;
}
.project-header__thumbs-slide img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .project-header__thumbs-slide {
    height: 50px;
    width: 75px;
    margin: 0 10px;
  }
}
.project-header__thumbs-arrow {
  cursor: pointer;
  height: 100%;
  width: 60px;
  top: 0;
  position: absolute;
}
.project-header__thumbs-arrow--left {
  left: 0;
}
.project-header__thumbs-arrow--right {
  right: 0;
}
.project-header__thumbs-arrow--disabled {
  opacity: 0.5;
}
.project-header__thumbs-arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-header__thumbs-arrow-icon:before,
.project-header__thumbs-arrow-icon:after {
  display: block;
  content: '';
  width: 45px;
  height: 5px;
  background-color: white;
  transform-origin: 5px center;
}
.project-header__thumbs-arrow-icon:before {
  transform: rotate(-45deg);
}
.project-header__thumbs-arrow-icon:after {
  transform: rotate(45deg);
}
.project-header__thumbs-arrow-icon--right:before,
.project-header__thumbs-arrow-icon--right:after {
  transform-origin: 40px center;
}
.project-header__thumbs-arrow-icon--right:before {
  transform: rotate(45deg);
}
.project-header__thumbs-arrow-icon--right:after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 1200px) {
  .project-header__thumbs-arrow-icon:before,
  .project-header__thumbs-arrow-icon:after {
    width: 30px;
    height: 3px;
    transform-origin: 3px center;
  }
  .project-header__thumbs-arrow-icon--right:before,
  .project-header__thumbs-arrow-icon--right:after {
    transform-origin: 27px center;
  }
}
.project-header__top {
  box-sizing: border-box;
  background-color: #eef1f5;
  position: relative;
  height: 150px;
  padding-top: 40px;
  padding-left: 58px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .project-header__top {
    height: 100px;
    padding-top: 32px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 900px) {
  .project-header__top {
    padding-top: 15px;
  }
}
@media screen and (max-width: 576px) {
  .project-header__top {
    padding-top: 32px;
    padding-left: 16px;
  }
}
.project-header__title {
  margin-bottom: 6px;
}
.project-header__title-main {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (min-width: 576px) {
  .project-header__title-main {
    font-size: 30px;
    letter-spacing: 6px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .project-header__title-main {
    font-size: 48px;
    letter-spacing: 9.6px;
    margin-right: 19px;
  }
}
.project-header__subtitle {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .project-header__subtitle {
    font-size: 15px;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .project-header__subtitle {
    font-size: 28px;
    letter-spacing: 5.6px;
  }
}
.project-header__slider {
  position: relative;
  flex-shrink: 1;
  flex-basis: 100%;
}
.project-header__slider.slick-dotted {
  margin-bottom: 0;
}
.project-header__slider .slick-list,
.project-header__slider .slick-track {
  height: 100%;
}
.project-header__slider .slick-dots {
  height: 26px;
  box-sizing: border-box;
  bottom: 0;
}
@media screen and (max-width: 800px) {
  .project-header__slider .slick-dots {
    padding-right: 0;
    margin-bottom: 10px !important;
    text-align: center;
  }
}
.project-header__slider .slick-dots li {
  margin: 0;
  font-size: 0;
  height: auto;
  width: auto;
}
.project-header__slider .slick-dots li button {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 0;
}
.project-header__slider .slick-dots li button:before {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  opacity: 1;
  transition-duration: 0.2s;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}
.project-header__slider .slick-dots li.slick-active button:before {
  background-color: transparent;
}
.project-header__slider-image-wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .project-header__slider-image-wrapper {
    height: 0;
    padding-bottom: 66.6666666666666666667%;
  }
}
.project-header__slider-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  text-align: center;
  background-position: center;
  background-size: cover;
}
.project-header__slider-image img {
  height: 100%;
}
.cost {
  font-size: 17px;
  color: #667e48;
  font-weight: bold;
  margin-right: 9px;
}
@media screen and (min-width: 576px) {
  .cost {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .cost {
    font-size: 40px;
  }
}
.standart {
  display: inline-block;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;
}
@media screen and (min-width: 576px) {
  .standart {
    font-size: 13px;
    letter-spacing: 1.3px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .standart {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-right: 28px;
  }
}
.standart__text {
  display: none;
  position: absolute;
  right: -366px;
  top: -10px;
  font-size: 12px;
  font-weight: normal;
  color: #3d3e3d;
  letter-spacing: 0.6px;
  line-height: 1.4;
  text-transform: initial;
  width: 300px;
  padding: 12px 16px;
  background-color: #FDFDFD;
}
@media screen and (max-width: 1200px) {
  .standart__text {
    top: -14px;
    font-size: 13px;
    letter-spacing: 0.65px;
  }
}
@media screen and (max-width: 620px) {
  .standart__text {
    top: -14px;
    right: -314px;
    width: 250px;
  }
}
@media screen and (max-width: 520px) {
  .standart__text {
    top: -10px;
    right: -260px;
    width: 200px;
  }
}
@media screen and (max-width: 410px) {
  .standart__text {
    top: 14px;
    right: -140px;
    width: 200px;
  }
}
.standart__text::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  border: 6px solid transparent;
  border-right: 6px solid #FDFDFD;
}
@media screen and (max-width: 410px) {
  .standart__text::before {
    left: 100px;
    top: -12px;
    border: 6px solid transparent;
    border-bottom: 6px solid #FDFDFD;
  }
}
.standart__what-is {
  position: absolute;
  display: flex;
  top: -12px;
  right: -17px;
  background-color: #c6c6c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .standart__what-is {
    top: -20px;
    right: -22px;
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .standart__what-is {
    top: -14px;
    right: -21px;
    height: 22px;
    width: 22px;
  }
}
.standart__what-is:hover + .standart__text {
  display: block;
}
.standart__what-is span {
  color: #fff;
  margin: auto;
  letter-spacing: 0;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .standart__what-is span {
    font-size: 16px;
  }
}
.whole-page-scroll {
  /*margin-top: 2*112px;
  @media screen and (max-width: @media-xxl) {  // 1440px
    margin-top: 2*70px;
  }*/
  height: 100%;
}
.whole-page-scroll__container {
  height: 100%;
}
.whole-page-scroll__section--mobileFullheight {
  height: 100%;
}
.whole-page-scroll__content {
  padding-top: 112px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .whole-page-scroll__content {
    padding-top: 70px;
  }
}
@media screen and (max-width: 740px) {
  .whole-page-scroll__content {
    padding-top: 20px;
  }
}
@media screen and (max-height: 720px) {
  .whole-page-scroll__content {
    padding-top: 20px;
  }
}
@media screen and (max-height: 720px) {
  .whole-page-scroll__content--first {
    padding-top: 112px;
  }
}
@media screen and (max-width: 1440px) {
  .whole-page-scroll__content--first {
    padding-top: 70px;
  }
}
.whole-page-scroll__content--auto {
  height: auto;
}
.plxSliderButtons__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  pointer-events: none;
  z-index: 200;
}
.plxSliderButtons__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plxSliderButtons__arrow {
  pointer-events: auto;
  width: 30px;
  height: 40px;
  padding: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 0;
  outline: none !important;
  opacity: 0.5;
  transition: 0.2s;
}
.plxSliderButtons__arrow:hover {
  opacity: 0.7;
}
.plxSliderButtons__arrow-left {
  left: -20px;
}
.plxSliderButtons__arrow-right {
  right: -20px;
}
.plxSliderButtons__arrow:before,
.plxSliderButtons__arrow:after {
  display: block;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
  opacity: 1;
  position: absolute;
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.plxSliderButtons__arrow:before {
  transform: rotate(45deg);
}
.plxSliderButtons__arrow:after {
  transform: rotate(-45deg);
}
.plxSliderButtons__arrow:hover {
  opacity: 1;
}
.plxSliderButtons__arrow-left {
  left: 0;
}
.plxSliderButtons__arrow-left:before,
.plxSliderButtons__arrow-left:after {
  transform-origin: left;
  left: 15px;
}
.plxSliderButtons__arrow-right {
  right: 0;
}
.plxSliderButtons__arrow-right:before,
.plxSliderButtons__arrow-right:after {
  transform-origin: right;
  right: 15px;
}
.plxSliderButtons__frame {
  width: 100%;
  height: 100%;
  position: relative;
}
.plxSliderButtons__holder {
  width: 100%;
  position: relative;
}
.plxSliderButtons__mobileLabel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 768px) {
  .plxSliderButtons__container {
    bottom: 40px;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
  }
  .plxSliderButtons__holder {
    width: 100%;
  }
}
.plxSlider {
  height: 100%;
  width: 100%;
}
.plxSlider .slick-list,
.plxSlider .slick-track {
  height: 100%;
}
.plxSlider__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.plxSlide {
  height: 100%;
  width: 100%;
  outline: none !important;
  position: relative;
  transition: background 0.2s ease-out 0;
  /*&.slick-active,*/
}
.plxSlide-right .plxSlide__frame {
  transform: translateX(500px);
}
.plxSlide-left .plxSlide__frame {
  transform: translateX(-500px);
}
.plxSlide.slick-active-clone .plxSlide__frame {
  transform: translateX(0);
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.4s;
}
.plxSlide__container {
  height: 100%;
}
.plxSlide__frame {
  height: 100%;
  width: 100%;
  position: relative;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  transition: 0.8s;
  opacity: 0;
}
.plxSlide__contentWrapper {
  height: 60%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plxSlide__contentRow {
  height: 100%;
  position: relative;
}
.plxSlide__content {
  position: absolute;
}
.plxSlide__content-top {
  top: 0;
}
.plxSlide__content-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plxSlide__content-bottom {
  bottom: 0;
}
.plxSlide__content-left {
  text-align: left;
}
.plxSlide__content-center {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.plxSlide__content-center.plxSlide__content-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plxSlide__content-right {
  text-align: right;
  right: 0;
}
.plxSlide__text {
  width: 100%;
  margin-bottom: 35px;
}
.plxSlide__text p {
  display: block;
}
.plxSlide__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
}
.plxSlide__bg:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .plxSlide-right .plxSlide__frame {
    transform: translateX(100px);
  }
  .plxSlide-left .plxSlide__frame {
    transform: translateX(-100px);
  }
  .plxSlide.slick-active-clone .plxSlide__frame {
    transform: translateX(0);
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
  }
  .plxSlide__content {
    width: 100%;
    left: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .plxSlide__content-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
  }
  .plxSlide__content-center.plxSlide__content-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
  }
  .plxSlide__content-middle {
    position: static;
    transform: none;
  }
}
.plxSliderDots {
  width: 100%;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  left: 0;
}
.plxSliderDots__container {
  pointer-events: auto;
  display: inline-block;
}
.plxSliderDots .slick-dots {
  bottom: 0;
  left: 0;
}
.slick-list,
.slick-track {
  transition: none;
}
.plxSlide__bg {
  background-color: #a6b3c6;
}
.plxSlide__bg:after {
  display: none;
}
@media screen and (max-width: 800px) {
  .plxSlide__bg {
    display: none;
  }
}
.plxSlide__bg--mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .plxSlide__bg--mobile {
    display: block;
  }
}
@media screen and (max-width: 1170px) {
  .plxSlide__bg {
    background-position-x: 70%;
  }
  .plxSlide__bg:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    background: linear-gradient(0deg, rgba(98, 130, 183, 0.82) 0%, rgba(98, 130, 183, 0.82) 15%, rgba(98, 130, 183, 0.5) 30%, rgba(98, 130, 183, 0) 60%, rgba(98, 130, 183, 0) 100%);
  }
}
@media screen and (max-width: 800px) {
  .plxSlide__bg {
    background-position-x: center;
  }
}
.plxSlide__bg--right {
  background-position: right top;
}
@media screen and (max-width: 1440px) {
  .plxSlide__bg--right {
    background-position-x: 70%;
  }
}
.plxSlide__bg--left {
  background-position: left top;
}
@media screen and (max-width: 1440px) {
  .plxSlide__bg--left {
    background-position-x: 35%;
  }
}
.plxSlide__contentRow {
  margin: 0 80px;
}
@media screen and (max-width: 1170px) {
  .plxSlide__contentRow {
    margin: 0 40px;
  }
}
@media screen and (max-width: 800px) {
  .plxSlide__contentRow {
    margin: 50px 15px;
  }
}
.plxSlide__content {
  position: static;
  transform: none;
}
@media screen and (max-width: 800px) {
  .plxSlide__content {
    text-align: center;
  }
}
.plxSlide__contentWrapper {
  height: auto;
}
@media screen and (max-width: 800px) {
  .plxSlide__contentWrapper {
    transform: none;
    top: auto;
    bottom: 0;
  }
}
.plxSliderDots .slick-dots {
  margin-bottom: 30px;
  height: 26px;
  text-align: right;
  padding-right: 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .plxSliderDots .slick-dots {
    padding-right: 0;
    margin-bottom: 10px !important;
    text-align: center;
  }
}
.plxSliderDots .slick-dots li {
  margin: 0;
  font-size: 0;
  height: auto;
  width: auto;
}
.plxSliderDots .slick-dots li button {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 0;
}
.plxSliderDots .slick-dots li button:before {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  opacity: 1;
  transition-duration: 0.2s;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}
.plxSliderDots .slick-dots li.slick-active button:before {
  background-color: transparent;
}
@media (max-width: 768px) {
  .plxSliderDots .slick-dots {
    margin-bottom: 0;
  }
}
.collapsed {
  overflow: hidden;
  height: 0;
}
.adaptive-image {
  position: relative;
  overflow: hidden;
}
.adaptive-image img {
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.adaptive-image img.wide {
  height: 100%;
}
.adaptive-image img.tall {
  width: 100%;
}
.scrollbar-measure {
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.modal-open {
  overflow: hidden;
}
