html {
  font-family: "Brown", "Roboto", sans-serif;
  font-size: 14px;
  color: #002222;
  line-height: 1.71429rem;
  font-weight: 300; }
  @media screen and (min-width: 720px) {
    html {
      font-size: 16px;
      line-height: 1.85714rem; } }

.btn {
  display: block;
  background-color: #00F8D3;
  padding: 16px 26px;
  letter-spacing: 0.07143rem;
  color: #003939;
  -webkit-transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
  -o-transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
  transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1); }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #00dfbd;
    -webkit-transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
    -o-transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: all 500ms cubic-bezier(0.39, 0.58, 0.57, 1); }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
fieldset,
input,
ul,
li,
td,
th,
button,
img,
picture,
figure,
div,
section,
span {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

a {
  text-decoration: none;
  outline: none; }

button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Brown", "Roboto", sans-serif; }

input,
select,
textarea,
fieldset {
  border: none;
  outline: none;
  font-family: "Brown", "Roboto", sans-serif; }

img,
picture {
  display: block; }

.main-container {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1440px) {
    .main-container {
      width: 1440px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header {
  position: relative;
  background-image: url("../img/camera-close-m.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  margin: 0 auto;
  width: 100%;
  height: 480px;
  padding-top: 63px; }
  @media screen and (min-width: 720px) {
    .header {
      width: 720px;
      height: 438px;
      background-image: url("../img/camera-p.png"); } }
  @media screen and (min-width: 1440px) {
    .header {
      background-image: url("../img/camera-d.png");
      height: initial;
      background-size: cover;
      padding-top: 168px;
      margin-bottom: 14px; } }

.brend {
  text-align: center;
  color: #A3FFE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .brend .logo {
    width: 120px;
    margin-bottom: 50px; }
  .brend__name {
    font-size: 2.14286rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.71429rem;
    letter-spacing: 0.38929rem;
    margin-bottom: 1.07143rem; }
    .brend__name--open {
      font-size: 1.57143rem;
      letter-spacing: 0.28571rem;
      margin-bottom: 1.21429rem; }
  .brend p {
    font-size: 1.14286rem;
    font-weight: 400;
    line-height: 1.42857rem;
    letter-spacing: 0.01429rem; }

.switch-deskr {
  background-image: url("../img/icons/icon-open-sprite.svg");
  background-repeat: no-repeat;
  background-position-y: -2px;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  display: block;
  width: 31px;
  height: 40px;
  cursor: pointer; }
  @media screen and (min-width: 1440px) {
    .switch-deskr {
      display: none; } }
  .switch-deskr--open {
    background-position-x: -38px; }
  .switch-deskr--close {
    background-position-x: -6px; }

.footer-bar {
  display: none; }
  @media screen and (min-width: 1440px) {
    .footer-bar {
      height: 14px;
      width: 100%; } }

.descr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main {
  padding: 55px 24px 0;
  text-align: center;
  background-color: #F4F4F4;
  padding-bottom: 82px;
  margin: 0 auto; }
  @media screen and (min-width: 720px) {
    .main {
      width: 720px;
      padding-bottom: 60px; } }

.descr {
  margin: 0 auto 75px; }
  .descr:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 720px) {
    .descr {
      width: 474px; } }
  .descr h2 {
    font-size: 1.14286rem;
    line-height: 1.28571rem;
    letter-spacing: 0.22857rem;
    font-weight: 700;
    margin-bottom: 1.42857rem; }
    @media screen and (min-width: 720px) {
      .descr h2 {
        font-size: 1.42857rem;
        line-height: 1.85714rem;
        letter-spacing: 0.28571rem;
        margin-bottom: 2.21429rem; } }
  .descr p {
    margin-bottom: 0.57143rem; }
  .descr p:last-child {
    margin-bottom: 0; }
  .descr ul {
    padding-left: 20px; }
  .descr li {
    text-align: left;
    margin-bottom: 0.57143rem; }
  .descr li:last-child {
    margin-bottom: 0; }

.contact {
  margin-top: 138px; }
  .contact p {
    font-size: 0.85714rem;
    line-height: 1.14286rem;
    letter-spacing: 0.01714rem;
    margin: 0 auto 46px;
    width: 176px; }
  .contact .btn--contact {
    font-size: 1.07143rem;
    line-height: 1.07143rem;
    margin: 0 auto;
    font-weight: 700; }

.downloads-container {
  margin: 0 auto; }
  @media screen and (min-width: 720px) {
    .downloads-container {
      width: 720px; } }
  @media screen and (min-width: 1440px) {
    .downloads-container {
      position: absolute;
      left: 0;
      bottom: 0; } }

.downloads {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 32px;
  background-color: #EDEDED; }
  @media screen and (min-width: 720px) {
    .downloads {
      padding-top: 38px; } }
  @media screen and (min-width: 1440px) {
    .downloads {
      padding-bottom: 37px; } }
  .downloads p {
    text-align: center;
    font-size: 0.85714rem;
    line-height: 1.14286rem;
    margin: 0 auto 27px;
    letter-spacing: 0.2 14rem; }
    @media screen and (min-width: 720px) {
      .downloads p {
        font-size: 1.14286rem;
        line-height: 1.85714rem;
        letter-spacing: 0.24 14rem;
        margin: 0 auto 37px; } }

.btn-block {
  margin-right: -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 720px) {
    .btn-block {
      padding-left: 123px;
      padding-right: 123px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.btn-container {
  margin-bottom: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 24px; }

.btn--down {
  text-transform: uppercase;
  font-size: 0.85714rem;
  line-height: 1rem;
  text-align: left;
  font-weight: 700;
  height: 50px;
  width: 164px;
  padding-left: 15px; }

.btn--line2 {
  padding-top: 9px; }

.btn__before {
  width: 43px;
  height: 50px;
  background-color: #003939;
  position: relative; }
  .btn__before:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    padding: 19px;
    top: 0px;
    left: -44px;
    border-top: 6px solid transparent;
    border-left: 0px transparent;
    border-right: 6px solid #003939;
    border-bottom: 6px solid transparent; }

.btn__before img {
  padding: 14px 9px; }

.downloads__footer {
  position: relative;
  height: 14px;
  margin: 0 auto;
  background-color: #EDEDED;
  width: calc(100% - 14px * 2); }
  @media screen and (min-width: 720px) {
    .downloads__footer {
      width: 692px; } }
  .downloads__footer:before, .downloads__footer:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-top: 14px solid #EDEDED; }
  .downloads__footer:before {
    left: -14px;
    border-left: 14px solid transparent; }
  .downloads__footer:after {
    right: -14px;
    border-right: 14px solid transparent; }
    @media screen and (min-width: 1440px) {
      .downloads__footer:after {
        border-color: #EDEDED; } }



/*# sourceMappingURL=style.css.map */