@font-face {
  font-family: 'Graphik-Regular';
  src: url("./../fonts/Graphik-Regular.woff2") format("woff2"), url("./../fonts/Graphik-Regular.woff") format("woff"), url("./../fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto; }

@font-face {
  font-family: 'Intro-Black-Italic';
  src: url("./../fonts/Intro-Black-Italic.woff") format("woff"), url("./../fonts/Intro-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: auto; }

@font-face {
  font-family: 'Intro-Bold-Italic';
  src: url("./../fonts/Intro-Bold-Italic.woff") format("woff"), url("./../fonts/Intro-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: auto; }

@font-face {
  font-family: 'Intro-Bold';
  src: url("./../fonts/Intro-Bold.woff") format("woff"), url("./../fonts/Intro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: auto; }

@font-face {
  font-family: 'Intro-Regular';
  src: url("./../fonts/Int400Regular.woff") format("woff"), url("./../fonts/Intro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 26px 26px;
            transform-origin: 26px 26px; }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
            transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    -webkit-transform-origin: 26px 26px;
            transform-origin: 26px 26px; } }

@keyframes rotate {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 26px 26px;
            transform-origin: 26px 26px; }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
            transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    -webkit-transform-origin: 26px 26px;
            transform-origin: 26px 26px; } }

@-webkit-keyframes rotateSmall {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px; }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
            transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    -webkit-transform-origin: 7px 7px;
            transform-origin: 7px 7px; } }

@keyframes rotateSmall {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px; }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
            transform: rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    -webkit-transform-origin: 7px 7px;
            transform-origin: 7px 7px; } }

html {
  font-family: 'Graphik-Regular', sans-serif;
  font-weight: 400; }

.section {
  padding-top: 86px;
  text-align: center;
  background-color: #E5E5E5; }

.section__title-block {
  display: inline-block;
  position: relative; }

.section__title {
  display: inline-block;
  font-family: 'Intro-Black-Italic', sans-serif;
  font-size: 54px;
  text-transform: uppercase;
  color: #2D2A26;
  font-weight: 900;
  position: relative;
  text-align: center;
  margin-bottom: 36px;
  z-index: 1; }
  .section__title-line {
    position: absolute;
    display: block;
    width: 8px;
    height: 64px;
    background-color: #FFED00;
    top: -4px;
    left: 0;
    -webkit-transform: skew(30deg);
            transform: skew(30deg); }

.section__text {
  font-family: Graphik, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  max-width: 754px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto; }

.button-container {
  display: inline-block;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  background-color: #2D2A26;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .button-container:hover {
    background-color: #FFED00;
    border-color: #2D2A26; }
    .button-container:hover .button__text {
      color: #2D2A26;
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
    .button-container:hover svg#arrow1 {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
    .button-container:hover .arrow1 {
      stroke: #2D2A26;
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

.button {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
  padding-bottom: 12px;
  padding-top: 12px;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .button__text {
    font-size: 11px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin-right: 7px;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .button svg#arrow1 {
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .button:hover {
    color: #2D2A26;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 2; }

.menu .logo {
  position: relative;
  top: 76px;
  left: 48px; }

.nav {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  background-color: #2D2A26;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1500px;
  position: relative;
  right: -105px;
  margin-left: auto;
  padding-left: 286px; }
  .nav__item-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 44px;
    padding-right: 44px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav__item-container:not(.promo):hover {
    background-color: #FFED00;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav__item-container:not(.promo):hover .nav__item {
    color: #2D2A26;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav a.nav__item {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
    color: #ffffff;
    font-family: 'Intro-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav .promo__container {
    border: 1px solid #FFED00;
    padding: 16px 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-left: -24px; }
  .nav__item-container.promo:hover .promo__container {
    background-color: #FFED00;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav__item-container.promo:hover a.nav__item-promo {
    color: #2D2A26; }

.item-promo__wrapper {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg); }

.header .slide {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.header .slide1 {
  background-image: url("../img/header-image1.jpg"); }

.header .slide2 {
  background-image: url("../img/pexels-photo-445109.jpeg"); }

.header .slide3 {
  background-image: url("../img/72a0096b9f786892f02e0d376982d185.jpg"); }

.header__title {
  font-size: 64px;
  line-height: 83px;
  color: #ffffff;
  font-family: 'Intro-Black-Italic', sans-serif;
  text-transform: uppercase;
  margin-bottom: 43px; }

.header__text {
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  font-family: 'Graphik-Regular', sans-serif;
  font-weight: 400; }

.header .swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1;
  width: 120px;
  height: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .swiper-pagination-bullet {
  display: block;
  width: 42px;
  height: 6px;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  background-color: #fff;
  opacity: 0.2;
  margin-right: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0%; }

.header .swiper-pagination-bullet-active {
  background-color: #FFED00;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1; }

.services__block0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.service__container1 {
  margin-left: 85px;
  margin-right: -34px; }
  .service__container1 .service-block:first-child {
    margin-bottom: 20px;
    margin-left: -120px; }

.service-item {
  width: 244px;
  height: 193px;
  background-color: #2D2A26;
  color: #fff;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  color: #ffffff; }
  .service-item__container {
    height: 100%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
    padding-top: 23px;
    padding-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px; }

.item__title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-family: 'Intro-Black-Italic', sans-serif;
  font-weight: 900;
  margin-left: -163px; }
  .item__title-container {
    text-align: left;
    padding-left: 130px; }

.item__icon {
  margin-left: -73px; }

.item__text {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  font-size: 11px;
  font-family: 'Graphik-Regular', sans-serif;
  font-weight: 400;
  margin-left: -40px;
  text-align: left; }
  .item__text-container {
    -webkit-transform: skew(30deg);
            transform: skew(30deg); }

.item__title-container .item__title1 {
  margin-left: -214px; }

.item__title-container .item__title2 {
  margin-left: -199px; }

.service-item.item-button {
  background-color: #FFED00; }

.item-button .item__title {
  color: #2D2A26;
  margin-left: -200px; }

a.service-block {
  cursor: pointer; }

.item__icon.burger-more {
  margin-left: 0; }

.service-item__container .burger-more {
  padding-bottom: 38px;
  margin-left: -48px;
  cursor: pointer;
  pointer-events: none; }
  .service-item__container .burger-more svg {
    cursor: pointer; }
    .service-item__container .burger-more svg .cls-1 {
      cursor: pointer; }

.more:hover .burger-more {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.51, -0.7, 0.7, 1);
          animation-timing-function: cubic-bezier(0.51, -0.7, 0.7, 1); }

.service-item__container .button-container {
  margin-left: 26px; }

.cases-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1326px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px); }

.dewar {
  grid-row: 1 / 3;
  background-color: #FFED00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dewar__logo {
    margin-bottom: 45px; }
  .dewar__title {
    font-family: 'Intro-Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .dewar__subtitle {
    font-family: 'Graphik-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 18px; }
  .dewar__text {
    max-width: 500px;
    font-family: 'Graphik-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 28px; }
  .dewar__pict {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .dewar__pict1 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgba(45, 42, 38, 0)), to(rgba(45, 42, 38, 0.79))), url("../img/Cases1.jpg");
    background-image: linear-gradient(180deg, rgba(45, 42, 38, 0) 66%, rgba(45, 42, 38, 0.79) 100%), url("../img/Cases1.jpg"); }
  .dewar__pict2 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgba(45, 42, 38, 0)), to(rgba(45, 42, 38, 0.79))), url("../img/Cases2.jpg");
    background-image: linear-gradient(180deg, rgba(45, 42, 38, 0) 66%, rgba(45, 42, 38, 0.79) 100%), url("../img/Cases2.jpg"); }
  .dewar__pict3 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgba(45, 42, 38, 0)), to(rgba(45, 42, 38, 0.79))), url("../img/Cases3.jpg");
    background-image: linear-gradient(180deg, rgba(45, 42, 38, 0) 66%, rgba(45, 42, 38, 0.79) 100%), url("../img/Cases3.jpg"); }

.cases__more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2A26;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.cases-more__text {
  display: inline-block;
  font-family: 'Intro-Bold', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #FFED00;
  margin-right: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

svg#arrow2 {
  pointer-events: none;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

.cases__more:hover {
  background-color: #FFED00;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .cases__more:hover .cases-more__text {
    color: #2D2A26;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .cases__more:hover svg#arrow2 {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .cases__more:hover .arrow2 {
    stroke: #2D2A26;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

.clients {
  padding-bottom: 80px; }

.logos-block {
  max-width: 1145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.bananas-block {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 757px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .bananas-block__photo {
    background-image: url("../img/Kjell-Colsoul.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-bottom: 8px; }
  .bananas-block__name {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: center; }
  .bananas-block__position {
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px; }
  .bananas-block__text {
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    line-height: 53px;
    text-align: center;
    background-image: url("../img/decoration.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%; }

.contact {
  padding-top: 78px;
  padding-bottom: 60px;
  background-color: #FFED00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact .contact-button {
    margin-left: auto;
    margin-right: auto;
    display: block; }

.footer {
  background-color: #2D2A26;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px; }
  .footer__top {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 26px; }

.footer__adress {
  font-family: 'Intro-Regular', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.06em;
  line-height: 1.6;
  margin-right: 55px; }

.footer__phone {
  font-family: 'Intro-Regular', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6; }

.footer__phone-top {
  font-size: 16px; }

.footer__phone-tel {
  position: relative;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  z-index: 1; }
  .footer__phone-tel::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0px;
    height: 22px;
    width: 0;
    background-color: #FFED00;
    -webkit-transform: skew(30deg) scaleX(0);
            transform: skew(30deg) scaleX(0);
    z-index: -1;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .footer__phone-tel:hover {
    color: #2D2A26;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
    .footer__phone-tel:hover::before {
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      width: 100%;
      -webkit-transform: skew(30deg) scaleX(1.1);
              transform: skew(30deg) scaleX(1.1); }

.social {
  margin-left: auto; }
  .social__top {
    font-family: 'Intro-Regular', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin-bottom: 20px; }
  .social__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 12px; }
  .social-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    border: 1px solid transparent;
    background-color: #FFED00;
    width: 37px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 27px;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .social-logo svg {
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg); }

.fb-container:hover,
.tw-container:hover,
.in-container:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  border-color: #FFED00;
  background-color: #2D2A26; }

.fb-container:hover .icon-social,
.tw-container:hover .icon-social,
.in-container:hover .icon-social {
  fill: #FFED00;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }

.copy {
  margin-right: 32px;
  font-family: 'Graphik-Regular', sans-serif;
  font-size: 12px;
  color: #fff;
  opacity: 0.5; }

.footer__bottom-link {
  position: relative;
  margin-right: 24px;
  font-family: 'Graphik-Regular', sans-serif;
  color: #FFED00;
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  z-index: 1; }
  .footer__bottom-link::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: -1px;
    height: 17px;
    width: 0;
    background-color: #FFED00;
    -webkit-transform: skew(30deg) scaleX(0);
            transform: skew(30deg) scaleX(0);
    z-index: -1;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .footer__bottom-link:hover {
    color: #2D2A26;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
    .footer__bottom-link:hover::before {
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      width: 100%;
      -webkit-transform: skew(30deg) scaleX(1.1);
              transform: skew(30deg) scaleX(1.1); }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(229, 229, 229, 0.95);
  -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
  overflow-y: auto;
  z-index: 1010;
  display: none; }
  .modal.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1010;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .modal.closed {
    display: none;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
  .modal .close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    background-color: #2D2A26;
    cursor: pointer;
    -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
    padding-right: 3px; }
    .modal .close__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg); }
      .modal .close__container .close__icon {
        cursor: pointer;
        pointer-events: none; }
    .modal .close:hover {
      cursor: pointer;
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1); }
      .modal .close:hover .close__icon {
        cursor: pointer;
        -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
        transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
        -webkit-animation-name: rotateSmall;
                animation-name: rotateSmall;
        animation-direction: alternate-reverse;
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
        -webkit-animation-duration: 0.75s;
                animation-duration: 0.75s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-timing-function: cubic-bezier(0.51, -0.7, 0.7, 1);
                animation-timing-function: cubic-bezier(0.51, -0.7, 0.7, 1); }
    .modal .close__icon {
      width: 14px;
      height: 14px;
      cursor: pointer; }
    .modal .close .close__icon {
      -webkit-transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      transition: all 0.5s cubic-bezier(0.51, -0.7, 0.7, 1);
      -webkit-transform-origin: 15px 15px;
              transform-origin: 15px 15px;
      cursor: pointer; }

.services-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .services-details .column1 {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    margin-right: 20px; }
    .services-details .column1:last-child {
      margin-right: 0; }
  .services-details .column2 {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    margin-right: 20px; }
    .services-details .column2:last-child {
      margin-right: 0; }
  .services-details .column3 {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    margin-right: 20px; }
    .services-details .column3:last-child {
      margin-right: 0; }
  .services-details .column4 {
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    margin-right: 20px; }
    .services-details .column4:last-child {
      margin-right: 0; }
  .services-details .service-item {
    margin-bottom: 20px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg); }
  .services-details .column1 {
    padding-top: 425px; }
  .services-details .column2, .services-details .column4 {
    padding-top: 115px; }

.bl9 .item__text {
  margin-left: 15px; }

.bl2 .item__text {
  margin-left: 17px; }

.bl6 .item__text {
  margin-left: 10px; }

.bl13 .item__text {
  margin-left: 5px; }

.bl10 .item__text {
  margin-left: 22px; }

.bl1 .item__text {
  margin-left: -13px; }

.bl3 .item__text {
  margin-left: 15px; }

.bl7 .item__text {
  margin-left: 19px; }

.bl11 .item__text {
  margin-left: 17px; }

.bl8 .item__text {
  margin-left: -4px; }

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
