@media screen and (min-width: 360px) {
  .product-list-items-container {
    max-width: none;
    width: 360px; } }
@media screen and (min-width: 600px) {
  .product-list-items-container {
    width: 600px; } }
@media screen and (min-width: 1024px) {
  .product-list-items-container {
    width: 890px; } }
@media screen and (min-width: 1280px) {
  .product-list-items-container {
    width: 1080px; } }

.main-nav {
  height: 70px; }
  @media screen and (min-width: 600px) {
    .main-nav {
      height: 93px; } }
  @media screen and (min-width: 1024px) {
    .main-nav {
      height: 112px; } }

html, body, h1, h2, h3, h4, h5, h6, p, button, fieldset, input, ul, li, td, th, button, img, picture, figure, div, section, span {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  outline: none; }

button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent; }

input, select, textarea, fieldset {
  border: none;
  outline: none; }

li, ul {
  list-style: none; }

img, picture {
  display: block; }

.product-item-description h4, .product__size-field, .option-first, .select-option {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

.product-item-description p {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.04em; }

.product-item-description p:last-child {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.04em; }

.product-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 21px; }

html {
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000; }

a {
  color: inherit; }

.main-container {
  padding-bottom: 70px; }
  @media screen and (min-width: 600px) {
    .main-container {
      padding-bottom: 93px; } }
  @media screen and (min-width: 1024px) {
    .main-container {
      padding-bottom: 112px; } }
  @media screen and (min-width: 1280px) {
    .main-container {
      padding-bottom: 0; } }

.product-item-description {
  text-align: center;
  margin: 0 auto;
  margin-top: 34px;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 20px; }

.message--primary {
  background-color: #000; }
.message--success {
  background-color: #27BA6C; }
.message--info {
  background-color: #03a9f4; }
.message--warning {
  background-color: #FF8833; }
.message--danger {
  background-color: #ff1a1a; }

.product__size-field {
  letter-spacing: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: initial;
  padding-left: 37%; }
  @media screen and (max-width: 300px) {
    .product__size-field {
      padding-left: 26%; } }

.option-first {
  font-weight: 500;
  letter-spacing: 100%;
  cursor: pointer; }

.select-option {
  font-weight: 500;
  letter-spacing: 100%;
  cursor: pointer; }

.main-menu {
  background-color: #fff; }
  .main-menu__wrapper {
    width: 100%;
    padding: 4px; }
    @media screen and (min-width: 360px) {
      .main-menu__wrapper {
        padding: 0 12px; } }
    @media screen and (min-width: 600px) {
      .main-menu__wrapper {
        padding: 0 34px; } }
    @media screen and (min-width: 1024px) {
      .main-menu__wrapper {
        padding: 0 66px; } }
    @media screen and (min-width: 1280px) {
      .main-menu__wrapper {
        padding: 0 100px; } }
    @media screen and (min-width: 1920px) {
      .main-menu__wrapper {
        padding: 0 108px; } }

.main-nav {
  max-width: 1704px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .main-nav__left {
    display: flex;
    justify-content: space-between; }
  .main-nav__right {
    order: 1;
    display: flex;
    justify-content: space-between; }

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem; }
  .nav-item__top {
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px; }
  @media screen and (max-width: 1023px) {
    .nav-item__top > span {
      display: none; } }
  .nav-item:last-child {
    margin-right: 0px; }
  .nav-item:hover {
    cursor: pointer;
    transition: all 0.3s ease; }
    .nav-item:hover img {
      transform: scale(1.5);
      transform-origin: 50% 50%;
      transition: all 0.3s ease; }
  .nav-item:active {
    cursor: pointer;
    transition: all 0.3s ease; }
    .nav-item:active img {
      transform: scale(1.3);
      transform-origin: 50% 50%;
      transition: all 0.3s ease; }
      @media screen and (min-width: 600px) {
        .nav-item:active img {
          transform: scale(1.3);
          transform-origin: 50% 50%;
          transition: all 0.3s ease; } }
  .nav-item img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 6px; }
    .nav-item img:hover {
      transform: scale(1.5);
      transform-origin: 50% 50%;
      transition: all 0.3s ease; }
    .nav-item img:active {
      transform: scale(1.3);
      transform-origin: 50% 50%;
      transition: all 0.3s ease; }
      @media screen and (min-width: 600px) {
        .nav-item img:active {
          transform: scale(1.3);
          transform-origin: 50% 50%;
          transition: all 0.3s ease; } }
  @media screen and (max-width: 1023px) {
    .nav-item__top-1 {
      display: none; } }
  @media screen and (max-width: 1023px) {
    .nav-item__top-2 {
      display: none; } }
  @media screen and (max-width: 1023px) {
    .nav-item__top-4 {
      display: none; } }
  @media screen and (max-width: 1023px) {
    .nav-item__top-5 {
      display: none; } }

.logo {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo .logo-link {
    display: box; }
    .logo .logo-link img {
      margin: auto; }
      @media screen and (max-width: 359px) {
        .logo .logo-link img {
          width: 92%; } }

.nav-item__top-3 {
  position: relative; }

.search-form-container {
  position: absolute;
  left: 6px;
  top: 31px;
  z-index: 2;
  cursor: auto;
  display: none; }

.search-form {
  position: relative; }

.search-field {
  width: 360px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding-left: 16px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #CACACA;
  border-style: solid; }
  .search-field .icon-search {
    width: 24px;
    height: auto; }

.search-submit {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 47px;
  height: 48px;
  background-color: #ffffff;
  cursor: pointer; }
  .search-submit svg {
    width: 24px;
    height: auto;
    overflow: auto;
    transition: all 0.3s ease; }
  .search-submit:hover svg {
    width: 36px;
    height: auto; }
  .search-submit:active svg {
    width: 30px;
    height: auto;
    fill: red; }

.menu-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff; }

.mob-nav {
  height: 58px;
  display: flex;
  justify-content: space-around; }
  @media screen and (min-width: 1024px) {
    .mob-nav {
      display: none; } }
  @media screen and (min-width: 600px) {
    .mob-nav {
      height: 97px; } }

.wrapper-mob {
  width: 100%;
  padding: 0 4px; }
  @media screen and (min-width: 600px) {
    .wrapper-mob {
      padding: 0 12px; } }
  @media screen and (min-width: 1024px) {
    .wrapper-mob {
      padding: 0 34px; } }

.nav-item__bottom {
  font-size: 0.5625rem; }
@media screen and (max-width: 1023px) {
  .nav-item__bottom--3 {
    display: none; } }
@media screen and (max-width: 1023px) {
  .nav-item__bottom--6 {
    display: none; } }

@media screen and (max-width: 1023px) {
  .product-full {
    padding-top: 62px; } }
@media screen and (max-width: 599px) {
  .product-full {
    padding-top: 48px; } }
.product-full__image {
  overflow: hidden; }

.product-full__image-pair-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px; }
  @media screen and (max-width: 358px) {
    .product-full__image-pair-container {
      flex-direction: column;
      align-items: center; } }
  @media screen and (min-width: 360px) and (max-width: 600px) {
    .product-full__image-pair-container {
      width: 360px;
      margin: 0 auto; } }
  @media screen and (min-width: 600px) {
    .product-full__image-pair-container {
      width: 600px;
      margin: 0 auto;
      margin-bottom: 63px; } }
  @media screen and (min-width: 1024px) {
    .product-full__image-pair-container {
      width: 489px;
      margin-bottom: 53px; } }
  @media screen and (min-width: 1280px) {
    .product-full__image-pair-container {
      width: 667px;
      margin-bottom: 88px; } }
.product-full__image-pair {
  flex-basis: 175px;
  height: 210px; }
  @media screen and (min-width: 360px) {
    .product-full__image-pair {
      flex-basis: auto; } }
  @media screen and (min-width: 600px) {
    .product-full__image-pair {
      width: 290px;
      height: 365px; } }
  @media screen and (min-width: 1024px) {
    .product-full__image-pair {
      width: 236px;
      height: 300px; } }
  @media screen and (min-width: 1280px) {
    .product-full__image-pair {
      width: 324px;
      height: 405px; } }
  @media screen and (max-width: 359px) {
    .product-full__image-pair:nth-child(odd) {
      margin-bottom: 47px; } }
  .product-full__image-pair img {
    width: 100%;
    height: auto; }

.product-full__image-one {
  margin: 0 auto;
  margin-bottom: 47px; }
  @media screen and (min-width: 360px) and (max-width: 600px) {
    .product-full__image-one {
      max-width: none;
      width: 360px;
      height: 448px; } }
  @media screen and (min-width: 360px) {
    .product-full__image-one {
      margin-bottom: 63px; } }
  @media screen and (min-width: 600px) {
    .product-full__image-one {
      width: 600px;
      height: 748px; } }
  @media screen and (min-width: 1024px) {
    .product-full__image-one {
      width: 489px;
      height: 608px;
      margin-bottom: 53px; } }
  @media screen and (min-width: 1280px) {
    .product-full__image-one {
      width: 667px;
      height: 830px;
      margin-bottom: 88px; } }
  .product-full__image-one img {
    width: 100%;
    height: auto; }

.product-full-descr {
  padding: 0 36px; }
  @media screen and (max-width: 360px) {
    .product-full-descr {
      padding-bottom: 57px; } }
  @media screen and (min-width: 360px) and (max-width: 600px) {
    .product-full-descr {
      width: 360px;
      margin: auto;
      padding-bottom: 57px; } }
  @media screen and (min-width: 600px) {
    .product-full-descr {
      width: 600px;
      margin: auto;
      padding-bottom: 74px; } }
  @media screen and (min-width: 1024px) {
    .product-full-descr {
      width: 360px;
      padding-bottom: 85px; } }
  .product-full-descr h4 {
    line-height: 1.1875em;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px; }
  .product-full-descr ul {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 1.357em;
    margin-bottom: 38px; }
  .product-full-descr li {
    padding-bottom: 9px; }
    .product-full-descr li::before {
      content: "- "; }

.shipping-return {
  display: block;
  font-weight: 500;
  display: flex;
  align-items: center; }
  .shipping-return:hover .icon-arrow-right {
    cursor: pointer;
    transition: all 0.3s ease;
    transform-origin: 0%;
    transform: scaleX(1.2); }
  .shipping-return:active .icon-arrow-right {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateX(15px); }

.product-buy {
  height: 112px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 55px; }
  @media screen and (min-width: 360px) {
    .product-buy {
      width: 360px;
      margin: 0 auto;
      margin-bottom: 65px; } }
  @media screen and (min-width: 1024px) {
    .product-buy {
      margin-bottom: 74px; } }

.product__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 56px;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA; }
  @media screen and (min-width: 360px) {
    .product__price {
      border-left: 1px solid #CACACA; } }

.product__size-container {
  position: relative;
  height: 56px;
  width: 50%;
  cursor: pointer;
  border-top: 1px solid #CACACA; }
  @media screen and (min-width: 360px) {
    .product__size-container {
      border-right: 1px solid #CACACA; } }
  .product__size-container:hover {
    background-color: #F0F0F0; }
    .product__size-container:hover .icon-arrow-down {
      cursor: pointer;
      transition: all 0.3s ease;
      transform-origin: center 0%;
      transform: scaleY(1.2);
      transition: all 0.3s ease; }
  .product__size-container:active .icon-arrow-down {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(15px);
    transition: all 0.3s ease; }

.icon-arrow-down {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 16px;
  right: 21%; }
  @media screen and (min-width: 500px) {
    .icon-arrow-down {
      right: 26%; } }

.add-to-basket {
  box-sizing: border-box;
  height: 64px;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #000000;
  transition: all 0.3s ease;
  position: relative;
  height: 56px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-left: 10%; }
  .add-to-basket:hover {
    background-color: #141414; }
  .add-to-basket:active {
    background-color: #404040; }
  @media screen and (max-width: 300px) {
    .add-to-basket {
      font-size: 86%;
      letter-spacing: normal; } }
  .add-to-basket:hover svg {
    width: 36px;
    height: auto;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease; }
    @media screen and (max-width: 359px) {
      .add-to-basket:hover svg {
        width: 34px;
        left: 5%; } }
  .add-to-basket:active svg {
    width: 32px;
    height: auto;
    left: 6.5%;
    transition: all 0.3s ease; }
    @media screen and (max-width: 359px) {
      .add-to-basket:active svg {
        width: 32px;
        left: 5%;
        transition: all 0.3s ease; } }
  .add-to-basket svg {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    fill: white; }

.product-main-image {
  max-width: 100%;
  height: 448px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto; }
  @media screen and (min-width: 360px) and (max-width: 600px) {
    .product-main-image {
      max-width: none;
      width: 360px;
      height: 448px; } }
  @media screen and (min-width: 600px) {
    .product-main-image {
      width: 600px;
      height: 748px; } }
  @media screen and (min-width: 1024px) {
    .product-main-image {
      width: 489px;
      height: 608px;
      margin-bottom: 49px; } }
  @media screen and (min-width: 1280px) {
    .product-main-image {
      width: 667px;
      height: 830px;
      margin-bottom: 84px; } }
  .product-main-image img, .product-main-image source {
    width: 100%; }

.product-about {
  text-align: center;
  padding-right: 16px;
  padding-left: 16px; }
  @media screen and (max-width: 300px) {
    .product-about {
      padding-right: 1%;
      padding-left: 1%; } }
  @media screen and (min-width: 360px) {
    .product-about {
      width: 360px;
      margin: 0 auto; } }
  @media screen and (min-width: 600px) {
    .product-about {
      width: 600px;
      margin-top: 45px; } }
  @media screen and (min-width: 1024px) {
    .product-about {
      width: 360px;
      margin-top: 85px;
      padding-bottom: 57px; } }

.product-about-header {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 15px; }
  .product-about-header__container h3 {
    line-height: 1rem;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.2px; }
  .product-about-header__container span {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    font-size: 0.875rem; }

.product-about p {
  line-height: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 34px; }
  @media screen and (min-width: 600px) {
    .product-about p {
      width: 432px;
      margin-bottom: 36px; } }
  @media screen and (min-width: 1024px) {
    .product-about p {
      width: 304px;
      margin-bottom: 36px; } }

.btn-share, .btn-star {
  width: 24px;
  height: 24px;
  cursor: pointer; }
  .btn-share:hover, .btn-star:hover {
    transform: scale(1.5);
    transform-origin: 50% 50%;
    transition: all 0.3s ease; }
  .btn-share:active, .btn-star:active {
    transform: scale(1.3);
    transform-origin: 50% 50%;
    transition: all 0.3s ease; }
    @media screen and (min-width: 600px) {
      .btn-share:active, .btn-star:active {
        transform: scale(1.3);
        transform-origin: 50% 50%;
        transition: all 0.3s ease; } }
  .btn-share:hover, .btn-star:hover {
    cursor: pointer;
    transition: all 0.3s ease; }
  .btn-share:active, .btn-star:active {
    cursor: pointer;
    transition: all 0.3s ease; }

.btn-star {
  transform: scale(); }

.product-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 358px) {
    .product-items-container {
      flex-direction: column;
      align-items: center; } }
  @media screen and (min-width: 360px) {
    .product-items-container {
      width: 360px;
      margin: 0 auto; } }
  @media screen and (min-width: 600px) {
    .product-items-container {
      width: 600px; } }
  @media screen and (min-width: 1024px) {
    .product-items-container {
      width: 489px; } }
  @media screen and (min-width: 1280px) {
    .product-items-container {
      width: 667px; } }

.product-item {
  margin-bottom: 36px;
  width: 175px;
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    .product-item {
      width: 290px; } }
  @media screen and (min-width: 1024px) {
    .product-item {
      width: 236px; } }
  @media screen and (min-width: 1280px) {
    .product-item {
      width: 324px; } }
  .product-item__image {
    display: block;
    max-width: 100%;
    height: 219px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .product-item__image {
        height: 369px; } }
    @media screen and (min-width: 1024px) {
      .product-item__image {
        height: 300px; } }
    @media screen and (min-width: 1280px) {
      .product-item__image {
        height: 408px; } }

.product-slider {
  margin-bottom: 55px;
  padding-right: 20px;
  padding-left: 20px; }
  .product-slider-image {
    width: 100%;
    height: 100%;
    background-image: url("../img/product/balenciaga/slider/balenciaga-mob-slider-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 360px) {
      .product-slider-image {
        background-image: url("../img/product/balenciaga/balenciaga-600-slider-1.jpg"); } }
  .product-slider__container-image {
    max-width: 100%;
    height: 320px;
    margin: auto;
    position: relative; }
    @media screen and (min-width: 360px) and (max-width: 600px) {
      .product-slider__container-image {
        max-width: auto;
        width: 360px;
        height: 360px; } }
    @media screen and (min-width: 600px) {
      .product-slider__container-image {
        width: 514px;
        height: 514px; } }
    @media screen and (min-width: 1024px) {
      .product-slider__container-image {
        width: 320px;
        height: 320px; } }
  .product-slider__share {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 28px; }
  .product-slider__social {
    color: #2F80ED;
    cursor: pointer; }
  .product-slider__nav {
    margin: auto;
    display: flex;
    justify-content: center; }
  .product-slider__nav-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #C4C4C4;
    cursor: pointer; }
    .product-slider__nav-item:hover {
      background-color: black;
      cursor: pointer;
      transform: scale(1.4);
      transition: all 0.3s ease; }
    .product-slider__nav-item:active {
      background-color: #5e5e5e;
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.3s ease; }

.product-list {
  padding-top: 25px; }
  @media screen and (min-width: 600px) {
    .product-list {
      padding-top: 35px; } }
  .product-list__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 30px; }
    @media screen and (min-width: 600px) {
      .product-list__title {
        padding-top: 35px;
        margin-bottom: 37px; } }
    @media screen and (min-width: 1024px) {
      .product-list__title {
        font-size: 24px;
        margin-bottom: 41px; } }
    @media screen and (min-width: 1280px) {
      .product-list__title {
        margin-bottom: 72px; } }

.product-list-items-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 359px) {
    .product-list-items-container {
      flex-direction: column;
      align-items: center; } }

.product-list-item {
  margin-bottom: 36px;
  width: 175px; }
  @media screen and (min-width: 600px) {
    .product-list-item {
      width: 290px; } }
  @media screen and (min-width: 1024px) {
    .product-list-item {
      width: 435px; } }
  @media screen and (min-width: 1280px) {
    .product-list-item {
      width: 505px; } }
  .product-list-item__image {
    display: block;
    max-width: 100%;
    height: 219px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .product-list-item__image {
        height: 369px; } }
    @media screen and (min-width: 1024px) {
      .product-list-item__image {
        height: 544px; } }
    @media screen and (min-width: 1280px) {
      .product-list-item__image {
        height: 632px; } }

.product-list-img-one-container {
  margin-top: 36px;
  margin-bottom: 50px; }

.product-list__image-one {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 360px) {
    .product-list__image-one {
      max-width: none;
      width: 360px;
      height: 450px; } }
  @media screen and (min-width: 600px) {
    .product-list__image-one {
      width: 600px;
      height: 730px; } }
  @media screen and (min-width: 1024px) {
    .product-list__image-one {
      width: 890px;
      height: 1077px; } }
  @media screen and (min-width: 1280px) {
    .product-list__image-one {
      width: 1080px;
      height: 1304px; } }

@media screen and (min-width: 1024px) {
  .layout {
    width: 890px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }
@media screen and (min-width: 1280px) {
  .layout {
    width: 1080px; } }
@media screen and (min-width: 1023px) {
  .layout--hide {
    display: none; } }
@media screen and (max-width: 1023px) {
  .layout--hide-aside {
    display: none; } }



/*# sourceMappingURL=style.css.map */